.popup-selection-master {
  @include adaptiv-value("padding-top", 22, 23, 1);
  @include adaptiv-value("padding-bottom", 40, 32, 1);
  @include adaptiv-value("padding-left", 40, 5, 1);
  @include adaptiv-value("padding-right", 40, 5, 1);

  max-width: 1000px;
  width: 100%;
  &__block-img {
    position: relative;
    padding-top: 99%;
    border: 1px solid #bdc0cf;
    border-radius: 6px;
  }
  &__body {
    display: flex;
    margin-top: 38px;
    width: 100%;
    .popup-selection-master__left {
      // margin-top: 40px;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    & > .Button:not(:last-child) {
      margin-right: 16px;
    }
    a[disabled] {
      background: #eeeff7;
      pointer-events: none;
      border-color: #bdc0cf;
      .Button {
        &__text {
          color: #bdc0cf;
        }
        &__icon-svg {
          fill: #bdc0cf;
        }
      }
    }
  }
  &__footer {
    .popup-selection-master__btn {
      margin-top: 33px;
      flex-wrap: nowrap;
    }
    .Button {
      &__icon {
        margin-left: 11px;
      }
    }
    .Button--theme-xs-w {
      @include adaptiv-value("width", 153, 140, 1);
      @include adaptiv-value("font-size", 16, 15, 1);
    }
  }
  &__form-specification {
    margin-top: 37px;
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  &__header-title {
    font-weight: 600;
    @include adaptiv-value("font-size", 28, 18, 1);
    line-height: 118%;

    .Title__wrapper--quartz {
      color: $black;
    }
  }
  &__heading {
  }
  &__img {
    border-radius: 6px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    flex: 1 1 31.333%;
    padding-right: 5px;
  }
  &__left-title {
    text-align: left;
    color: $lime;
    font-weight: 600;
    @include adaptiv-value("font-size", 22, 16, 1);
    line-height: 118%;
  }
  &__middle {
    display: flex;
    
    flex-direction: column;
    flex: 1 1 37.333%;
    padding: 0 20px;
    border-left: 1px solid $gray-border;
    border-right: 1px solid $gray-border;
  }
  &__middle-title {
    margin-top: 10px;
    font-weight: 600;
    color: $black;
    line-height: 118%;
  }
  &__middle-subtitle {
    margin-top: 6px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    flex: 1 1 31.333%;
    padding-left: 20px;
    justify-content: space-between;

    .popup-selection-master__price {
      margin-top: 40px;
      .Border {
        display: none;
      }
    }
  }
  &__right-heading-subtitle-text {
  }
  &__right-heading-title {
  }
  &__right-heading-title-text {
  }
  &__subtitle {
    margin-top: 10px;
  }
  &__subtitle-text {
  }
  &__type-specification {
    max-height: 409px;
    overflow-y: auto;

    ::-webkit-scrollbar {
      width: 3px; /* ширина для вертикального скролла */
      height: 3px; /* высота для горизонтального скролла */
      background-color: transparent;
    }

    /* ползунок скроллбара */
    ::-webkit-scrollbar-thumb {
      background-color: $gray;
      border-radius: 9em;
      box-shadow: inset 1px 1px 10px #f3faf7;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: $lime;
      cursor: pointer;
    }

    /* Стрелки */

    ::-webkit-scrollbar-button:vertical:start:decrement {
      display: none;
    }

    ::-webkit-scrollbar-button:vertical:end:increment {
      display: none;
    }

    ::-webkit-scrollbar-button:horizontal:start:decrement {
      display: none;
    }

    ::-webkit-scrollbar-button:horizontal:end:increment {
      display: none;
    }
  }
  &__type-specification > .Radio-btn-default:not(:first-child) {
    margin-top: 10px;
  }
  &__type-specification-text {
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__wrapper-slide {
    max-width: 1000px;
  }

  &__desc {
    margin-left: 5px;
  }
  &__desc-text {
    color: $black;
  }
  &__desc-text-decor {
    font-weight: 600;
  }
  &__item {
    display: flex;
    padding: 10px 6px 8px 11px;
    &:not(:first-child) {
      margin-top: 5px;
    }
    &--active {
      background: #f9faff;
      border-radius: 8px;
      padding: 10px 6px 8px 11px;
    }
  }
  &__item-title {
  }
  &__item-title-text {
  }
  &__list {
  }
  &__amount {
    display: flex;
    align-items: center;
  }
  &__amount-title {
  }
  &__amount-title-text {
  }
  &__amount-value {
    margin-left: 5px;
  }
  &__amount-value-text {
  }
  &__price {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    padding-bottom: 0;
    & > .Border::before {
      width: 85%;
    }
  }
  &__total {
    color: $black;
    display: flex;
    align-items: center;
  }
  &__total-title {
    font-size: 22px;
  }
  &__total-title-text {
  }
  &__total-value {
    margin-left: 5px;
    font-size: 28px;
    line-height: 118%;
    font-weight: 600;
  }

  &__middle-content {
    display: flex;
    height: 98px;
    flex-direction: column;
    justify-content: space-between;
    // height: 100%;
  }
  &__Counter {
    margin-top: 10px;
    display: flex;
    align-items: center;

    .Counter {
      &__content {
        margin-left: 5px;
      }
      &__value {
        flex-shrink: 0;
      }
      &__dimension {
        position: relative;
        margin-left: 20px;
        text-align: center;
      }
      &__dimension::before {
        content: "/";
        position: absolute;
        left: -10%;
        top: 50%;
        display: block;
        transform: translate(-50%, -50%);
      }
      &__value-text {
        color: $black;
        font-weight: 600;
      }
    }
  }

  &--one,
  &--two {
    .popup-selection-master__type-specification {
      max-height: 270px;
    }
  }
  &--three,
  &--four,
  &--five,
  &--six,
  &--seven,
  &--eight {
    .popup-selection-master__form-specification {
      margin: 0;
    }
    .popup-selection-master__type-specification {
      max-height: 400px;
    }
  }
  &--nine {
		width: 300px !important;
  }

  ::-webkit-scrollbar {
    width: 4px; /* ширина для вертикального скролла */
    height: 4px; /* высота для горизонтального скролла */
    background-color: transparent;
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $lime;
    cursor: pointer;
  }

  /* Стрелки */

  ::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
  }

  ::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
  }

  ::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
  }

  ::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
  }
}
