.range-slider {
  .noUi-tooltip {
    display: none;
  }

  .noUi-horizontal .noUi-handle {
    right: 0;
  }

  .noUi-handle {
    width: 14px;
    height: 14px;
    background: $white;
    border: 2px solid $lime;
    border-radius: 100px;

    &::before,
    &::after {
      display: none;
    }
  }

  .noUi-connect {
    background: $lime;
  }

  &__block-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    border: 1px solid $gray-bg;
    border-radius: 2px;
    height: 24px;
    width: 110px;
    color: $black;
    text-align: center;
  }

  &__decor-line {
    width: 15px;
    height: 1px;
    background-color: $gray;
  }

  &__slider-line {
    margin-top: 25px;
    height: 4px;
    background-color: $gray-bg;
    border: none;
    border-radius: 3px;
  }

  &__block-values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__value {
    color: $gray;
  }
}
