<div class="Card-simple">
	<div class="Card-simple__list">
		<a class="Card-simple__item" href="#">
			<div class="Card-simple__block-img">
				<img class="Card-simple__img" src="img/about-us-page-item-1.jpg" alt="" />
			</div>

			<div class="Card-simple__content">
				<div class="Card-simple__item-title">
					<h3 class="Card-simple__item-title-text">
						Розыгрыш квартиры в Краснодаре
					</h3>
				</div>
			</div>
		</a>
	</div>
</div>