.popup-img {
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(143, 150, 176, 0.3);
    @include adaptiv-value("padding-top", 20, 15, 1);
    @include adaptiv-value("padding-bottom", 40, 20, 1);
    @include adaptiv-value("padding-left", 40, 10, 1);
    @include adaptiv-value("padding-right", 40, 10, 1);
    max-width: 763px;
    width: 80%;
    max-height: 805px;
    &__title{           
        font-style: normal;
        font-weight: 600;
        // font-size: 36px;
        // line-height: 43px;
        @include adaptiv-value("font-size", 36, 20, 1);
        @include adaptiv-value("line-height", 43, 20, 1);
        color: #000000;
        margin-bottom: 36px;
    }
    &__textarea{
        resize: none;
        border: 1px solid $gray-border;
        max-width: 530px;
        width: 100%;
        height: 100%;
        height: 460px;
        border-radius:2px;
        padding:11px;
        
        &::-webkit-scrollbar {
            width: 9px;               /* ширина scrollbar */
          }
        &::-webkit-scrollbar-track {
            background: rgb(221, 221, 221);        /* цвет дорожки */
        }
        &::-webkit-scrollbar-thumb {
            background-color: $lime;    /* цвет плашки */
            border-radius: 20px;       /* закругления плашки */
            border: 3px solid rgb(204, 204, 204);  /* padding вокруг плашки */
        }
       
    }
    &__body {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__block-img {
        position: relative;
        max-width: 723px;
        max-height: 580px;
        width: 100%;
        // height: 100%;
        // padding-top: 84%;
       
    }
    &__body-wrapper {}
    &__img-desc {
        display: flex;
        align-items: center;
        // justify-content: center;
    }
    &__img-desc-icon {
        margin-right: 10px;
    }
    &__img-desc-text {
        color: $black;
        strong {
            font-weight: 600;
        }
    }
    &__footer {
        margin-top: 35px;
    }
    &__footer-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        .Button {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
    &__header {
        width: 100%;
        height: 100%;
        display: flex;
        // margin-top: 36px;
    }
    &__wrapper {
        text-align: center;
        // display: grid;
        // display: flex;
        // flex-direction: column;
    }
}

#img-area-modal {
    display: block;
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
    width: 100%;
    height: 100%;
}