<div class="popup-img" id="popup-img">
    <div class="popup-img__wrapper">
        <div class="popup-img__header">
            <div class="popup-img__block-img">
                <img style="max-width:100%; height:100%; display:block" class="popup-img__img"
                    src="img/contacts-page-img-2.jpg" alt="" id="img-area-modal">
            </div>
        </div>
        <div class="popup-img__body">
            <div class="img__body-wrapper">
                <div class="popup-img__img-desc">
                    <div class="popup-img__img-desc-icon">
                        <button class="Icon Icon--gray  Icon--theme-m">
                            <div class="Icon__content">
                                <svg class="Icon__svg">
                                    <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                    <p class="popup-img__img-desc-text error-format">
                        Изображение должно быть в формате: <strong>.jpg</strong> или <strong>.png</strong>
                    </p>
                </div>
                <div class="popup-img__img-desc">
                    <div class="popup-img__img-desc-icon">
                        <button class="Icon Icon--gray  Icon--theme-m">
                            <div class="Icon__content">
                                <svg class="Icon__svg">
                                    <use class="Icon__svg-use" xlink:href="#information-have"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                    <p class="popup-img__img-desc-text error-size">
                        Максимальный размер файла <strong>100 Мб.</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="popup-img__footer">
            <div class="popup-img__footer-btn">
                <div class="Button Button Button--lime Button--theme-m" href="#">
                    <span class="Button__text">Отменить загрузку</span>
                </div>
                <div class="Button Button Button--lime Button--theme-m mg-crop" href="#">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg">
                            <use class="Button__icon-svg-use" xlink:href="#file-clear"></use>
                        </svg>
                    </span>
                    <span class="Button__text" id="crop_and_upload">Добавить описание</span>
                </div>
            </div>
        </div>

    </div>
</div>