.section-order-measurement {
  margin-top: 70px;

  &__wrapper {
    position: relative;
    @include adaptiv-value("margin-bottom", 80, 40, 1);
    border-radius: 10px;
    min-height: 270px;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    background: #eeeff7;
  }

  &__content {
    @include adaptiv-value("padding-top", 20, 10, 1);
    @include adaptiv-value("padding-bottom", 20, 25, 1);
    @include adaptiv-value("padding-left", 369, 20, 1);
    @include adaptiv-value("padding-right", 33, 20, 1);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__block-img {
    @include adaptiv-value("max-width", 520, 222, 1);
    @include adaptiv-value("max-height", 520, 222, 1);

    position: absolute;
    left: 35px;
    bottom: -100px;
    width: 100%;
    pointer-events: none;
  }

  &__img-roulette {
    width: 100%;
    height: 100%;
  }

  &__block-info {
    @include adaptiv-value("max-width", 440, 420, 1);
  }

  &__title-text {
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: $black;
  }

  &__title-text > span {
    color: $lime;
  }

  &__subtitle {
    @include adaptiv-value("	margin-top", 18, 31, 1);
  }

  &__subtitle-text {
    font-size: 18px;
    line-height: 21px;
    color: $black;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
    max-width: 450px;

    // @include adaptiv-value("width", 450, 295, 1);
  }

  &__block-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .Privacy-policy {
		position: relative;
    @include adaptiv-value("width", 295, 200, 1);

    margin-top: 15px;
  }

  .Button {
    margin-top: 20px;
  }

  .Input__inp {
    @include adaptiv-value("margin-left", 20, 10, 1);
  }
}
