/* mg-buttons-svg */
.mg-buttons{
    &__bottom{
        &-svg{
            width: 3.75px;
            height: 7.5px;
            transform: rotate(90deg);          
            fill: $gray;            
        }
    }
    &__map-svg{
        width: 12.09px;
        height: 16.75px;
    }
    &--unique{
        display: flex;
        width: 24px;
        height: 24px;
    }
    &--edit{
        width: 13.33px;
        height: 14.67px;
        display: flex;
        &--svg{
            width: 100%;
            height: 100%;
        }
    }
    &--doc{
        width: 18px;
        height: 18px;
        display: flex;
        &--svg{
            width: 100%;
            height: 100%;
        }
    }
}

.mg-drop-down{
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
}

/* mg-check-svg */
.mg-check-svg{
    display: flex;
    width: 100%;
    height: 100%;
    fill: $checkbox-off;
}

/* mg-calendar */
.mg-calendar{
    @include w-h(16px, 16px);
    display: flex;
}

/* mg-button kpi */
.mg-button-kpi{
    @include w-h(42px, 42px);
    @include display-value(flex, center, 0, center);
    border: 1px solid;
    border-radius: 6px;

    .mg-kpi__svg{
        @include w-h(24px, 24px);
        display: flex;
    }
}

/* mg-buttons */

.mg-btn{
    background: #FFFFFF;
    border: 1px solid #9ACA3C;
    cursor: pointer;
    &:hover{
        background: #9ACA3C;
        border: 1px solid #9ACA3C;
        color: $white;
        svg path{
            fill: red;
        }
    }
    &--theme{
        &--block{
            border-radius: 6px;
            max-width: 330px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &--basic{
            padding: 9.75px;
            align-items: center;
        }
        &--download{
            display: flex;
            &-s{
                @include w-h(19.88px, 22.5px)
            }
        }
        &--plus{
            display: flex;
            &-s{
                @include w-h(17.25px, 17.25px)
            }
        }
        &--exposure{
            display: flex;
            &-s{
                @include w-h(24px, 24px)
            }
        }

    }
}














/* checkbox on off */
.mg-checkbox-ios {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 22px;
} 
.mg-checkbox-ios input {display:none;}
.mg-checkbox{
    &-on{
        font-style: normal;
        font-weight: 600;
        @include adaptiv-value("font-size", 12, 8, 1);
        //@include adaptiv-value("line-height", 14, 8, 1);
        line-height: 14px;
        position: absolute;
        top: 3.3px;
        left: 8px;
        opacity: 0;
        color: $white;
        transition: $transition;
    }  
    &-off{
        font-style: normal;
        font-weight: 600;
        @include adaptiv-value("font-size", 12, 8, 1);
       // @include adaptiv-value("line-height", 14, 8, 1);
        line-height: 14px;
        position: absolute;
        top: 3.3px;
        left: 22px;
        opacity: 1;
        color: $white;
        transition: $transition;
    }
}

.checkbox-on-off {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $checkbox-off;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.checkbox-on-off:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2.3px;
    bottom: 2px;
    background-color: $white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .checkbox-on-off {
    background-color: $lime;
    .mg-checkbox-on{
        opacity: 1;
    }
    .mg-checkbox-off{
        opacity: 0;
    }
    box-shadow:0px 1px 10px #fff, -1px -1px 1px #fff;
}
  
input:focus + .checkbox-on-off {
    box-shadow: 0 0 1px $lime;
}
  
input:checked + .checkbox-on-off:before {
    -webkit-transform: translateX(33.3px);
    -ms-transform: translateX(33.3px);
    transform: translateX(33.3px);
} 
  /* Rounded sliders */
.checkbox-on-off.checkbox-on-off-round {
    border-radius: 34px;
} 
.checkbox-on-off.checkbox-on-off-round:before {
    border-radius: 50%;
}
