<div class="mg-portfolio-box">
    <div class="mg-portfolio-box__container">
        <div class="mg-portfolio-box__block">
            <div class="mg-portfolio-box__item ">
                <div class="mg-attendance">
                    <div class="mg-attendance__header">
                        <div class="title">
                            Фасады
                        </div>
                        <div class="add-attendance">
                            <button class="Button Button--lime Button--theme-m">
                                <span class="Button__text">
                                    <span class="Button__icon">
                                        <svg class="Button__icon-svg">
                                            <use class="Button__icon-svg-use"
                                                xlink:href="#mg-pluss">
                                            </use>
                                        </svg>
                                    </span>Добавить фото</span>
                            </button>
                        </div>
                    </div>
                    <div class="mg-attendance__body">
                        <div class="attendance-photo__wrapper">
                            <ul class="attendance-photo__container">
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mg-portfolio-box__item ">
                <div class="mg-attendance">
                    <div class="mg-attendance__header">
                        <div class="title">
                            Витрины
                        </div>
                        <div class="add-attendance">
                            <button class="Button Button--lime Button--theme-m">
                                <span class="Button__text">
                                    <span class="Button__icon">
                                        <svg class="Button__icon-svg">
                                            <use class="Button__icon-svg-use"
                                                xlink:href="#mg-pluss">
                                            </use>
                                        </svg>
                                    </span>Добавить фото</span>
                            </button>
                        </div>
                    </div>
                    <div class="mg-attendance__body">
                        <div class="attendance-photo__wrapper">
                            <ul class="attendance-photo__container">
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>
                                <li class="attendance-photo__list">
                                    <img src="https://img2.akspic.ru/previews/5/7/1/6/6/166175/166175-gubka_bob-multfilm-multik-bikini_bottom-nikelodeon-500x.jpg" alt="">
                                    <span class="att-edit-block">
                                        <span class="att-eye">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#eye-open">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-edit">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#edit">
                                                </use>
                                            </svg>
                                        </span>
                                    <span class="att-trash">
                                            <svg class="Button__icon-svg">
                                                <use class="Button__icon-svg-use"
                                                    xlink:href="#trash">
                                                </use>
                                            </svg>
                                        </span>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <button class="Button Button--lime Button--theme-m">
                                                    <span class="Button__text">
                                                        <span class="Button__icon">
                                                            <svg class="Button__icon-svg">
                                                                <use class="Button__icon-svg-use"
                                                                    xlink:href="#mg-pluss">
                                                                </use>
                                                            </svg>
                                                        </span>Добавить сотрудника</span>
                                                </button> -->