.mg-requisites{
    &__container{
       
    }
    .mg-table{
        &__header{
            .mg-table{
                &__headlines{
                    &:nth-child(1){max-width: 31.413%;}
                    &:nth-child(2){max-width: 20.543%;}
                    &:nth-child(3){max-width: 20.543%;}
                    &:nth-child(4){max-width: 20.543%;}
                    &:nth-child(5){max-width: 7.283%;}
                }
                &__title{}
                
            }
        }
        &__body{
            &-container{
                height: 408px;
                overflow: scroll;
            }
            &-container::-webkit-scrollbar{
                width:3px;
                height:3px;
            }       
            &-container::-webkit-scrollbar-track{
                background-color:inherit;
            }
            &-container::-webkit-scrollbar-thumb{
                background-color: $checkbox-off;
                border-radius: 5px;

            }
            .mg-table{
                &__subtitle{
                    &:nth-child(1){max-width: 31.413%;}
                    &:nth-child(2){max-width: 20.543%;}
                    &:nth-child(3){max-width: 20.543%;}
                    &:nth-child(4){max-width: 20.543%;}
                    &:nth-child(5){
                        max-width: 7.283%;
                    }
                }
                &__title{}
                
            }
        }
    }
}

.mg-table-options--center{
    .mg-table__title{
        display: flex;
        margin: 0 auto;
        & span{
            &:nth-child(1){
                width: 18px;
                height: 18px;
            }
            &:nth-child(2){
                width: 18px;
                height: 18px;
                margin-left: 9px;
            }
        }
    }
}