.popup-order-generated {
	padding: 44px 20px 27px 20px;
	width: 260px;
	min-height: 260px;
	
  &__btn {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		.Button {
			&__text {
			}
			&--lime {
			}
			&--theme-s {
			}
			&--theme-s-n {
				width: 206px;
			}
		}
  }
	
  &__heading {
  }
  &__subtitle {
		text-align: center;
		color: $black;
		margin-top: 20px;
  }

  &__title {
		font-size: 22px;
		line-height: 118%;
		color: $black;
		font-weight: 600;
		text-align: center;
  }
  &__wrapper {
  }
}
