<div class="popup-order-generated" id="popup-order-generated" style="display: none">
	<div class="popup-order-generated__wrapper">
		<div class="popup-order-generated__heading">
			<div class="popup-order-generated__title">
				<h3 class="popup-order-generated__title-text">Ваш заказ сформирован!</h3>

			</div>
			<div class="popup-order-generated__subtitle">
				<span class="popup-order-generated__subtitle-text">Через некоторое время с вами свяжется менеджер</span>
			</div>
		</div>


		<div class="popup-order-generated__btn">
			<a class="Button Button--lime Button--theme-s Button--theme-s-n" href="#">
				<span class="Button__text">Перейти на главную</span>
			</a>
		</div>
	</div>
</div>