.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10001;
  border-radius: 8px;
  width: 730px;
  height: 100px;
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: 0.4s all;

  &__close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 14px;
    height: 14px;
  }

  &__block-content {
    width: 100%;
  }

  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    padding: 25px;
    width: 100%;
    height: 100vh;
    background-color: rgba(57, 57, 57, 0.68);
    opacity: 0;
    visibility: hidden;
    transition: 0.8s all;
  }

  &__active-overlay,
  &__active {
    opacity: 1;
    visibility: visible;
  }
}