.compares-parameter {
  margin-top: 4.5rem;
  @media (max-width: 1339px) {
    margin-top: 3.9rem;
  }
  @media (max-width: 866px) {
    margin-top: 1rem;
  }
  &__item {
    overflow: hidden;
    height: 49px;
    color: $black;
    // display: grid;
    &:not(:first-child) {
      margin-top: 3px;
    }
  }
  &__list,
  &__list--slide {
    width: 95%;
    margin-top: 60px;
  }
  &__item-text {
  }
  &__title,
  &__item-title {
    font-weight: 600;
    @include adaptiv-value("font-size", 18, 16, 1);
    color: $black;
  }
  &__title {
		margin-bottom: -15px;
	}
  &__item-text {
    @include adaptiv-value("font-size", 16, 14, 1);
    height: 2.9rem;
    display: block;
  }
  &__item-title {
    display: none;
    margin-bottom: 7px;
  }
  &__item {
    height: 50%;
  }

  &--desc {
    margin: 0;
    .compares-parameter__item {
      color: $gray;
    }
  }
}