.Icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: center;
  text-decoration-line: none;
  fill: currentColor;
  background-color: transparent;
  transition: $transition;
  cursor: pointer;
  user-select: none;

  &__content {
    position: relative;
  }

  &__counter {
    position: absolute;
    right: -10px;
    top: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: #fff;
    transition: $transition;
  }

  &__icon {
    display: flex;
  }

  &__text {
    text-overflow: ellipsis;
    transition: $transition;
  }

  &:hover,
  &:focus {
    text-decoration-line: none;
    color: inherit;
  }
}
// Modification

.Icon-like {
  .Icon {
    &__svg {
      animation: defaultLike 1s forwards;
    }
  }

  @keyframes defaultLike {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.3);
		}
		100% {
			transform: scale(1);
		}
  }

  &--active {
    .Icon {
      &__svg {
        animation: activeLike 1s forwards;
      }
    }

    @keyframes activeLike {

			0% {
				transform: scale(1);
			}
			30% {
				transform: scale(1.3);
			}
			50% {
				transform: scale(1.1);
			}
			70% {
				transform: scale(1.5);
			}
			100% {
				transform: scale(1);
			}
    }
  }
}
.Icon-scales {
  .Icon {
    &__svg {
      animation: defaultScales 1s forwards;
    }
  }

  @keyframes defaultScales {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.3);
		}
		100% {
			transform: scale(1);
		}
  }

  &--active {
    .Icon {
			&__svg-use {
				fill: $black;
			}
      &__svg {
        animation: activeScales 1s forwards;
      }
    }

		@keyframes activeScales {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.3);
			}
			100% {
				transform: scale(1);
			}
		}
  }
}

// Color
.Icon--black {
  $colorAccent: $black;
  $colorAccentHover: $white;

  .Icon__counter {
    background-color: #9aca3c;
  }

  .Icon__svg {
    fill: $colorAccent;
    transition: $transition;
  }

  .Icon__counter {
    color: $white;
    transition: $transition;
  }

  &:hover .Icon__counter,
  &:focus .Icon__counter {
    color: $colorAccentHover;
    transition: $transition;
  }

  &:hover > .Icon__content > .Icon__counter {
    background-color: $red;
  }

  &:hover > .Icon__content > .Icon__svg {
    fill: $lime;
  }
}

.Icon--lime {
  $colorAccent: $lime;
  $colorAccentHover: $white;

  .Icon__counter {
    background-color: #9aca3c;
  }

  .Icon__svg {
    fill: $colorAccent;
    transition: $transition;
  }

  .Icon__counter {
    color: $white;
    transition: $transition;
  }

  &:hover .Icon__counter,
  &:focus .Icon__counter {
    opacity: 0.2;
    transition: $transition;
  }

  &:hover > .Icon__content > .Icon__counter {
    background-color: $red;
  }

  &:hover > .Icon__content > .Icon__svg {
    filter: brightness(1.1);
  }
}

.Icon--gray {
  $colorAccent: $gray;
  $colorAccentHover: $white;

  &-active {
    background: red;
  }
  .Icon__counter {
    background-color: #9aca3c;
  }

  .Icon__svg {
    fill: $colorAccent;
    transition: $transition;
  }

  .Icon__counter {
    color: $white;
    transition: $transition;
  }

  &:hover .Icon__counter,
  &:focus .Icon__counter {
    opacity: 0.2;
    transition: $transition;
  }

  &:hover > .Icon__content > .Icon__counter {
    background-color: $red;
  }

  &:hover > .Icon__content > .Icon__svg {
    filter: brightness(1.2);
  }
}
.Icon--red {
  $colorAccent: $red;
  $colorAccentHover: $white;

  &-active {
    background: red;
  }
  .Icon__counter {
    background-color: #9aca3c;
  }

  .Icon__svg {
    fill: $colorAccent;
    transition: $transition;
  }

  .Icon__counter {
    color: $white;
    transition: $transition;
  }

  &:hover .Icon__counter,
  &:focus .Icon__counter {
    opacity: 0.2;
    transition: $transition;
  }

  &:hover > .Icon__content > .Icon__counter {
    background-color: $red;
  }

  &:hover > .Icon__content > .Icon__svg {
    filter: brightness(1.2);
  }
}

// Themes

.Icon--theme-m {
  .Icon__counter {
    width: 17px;
    height: 19px;
    font-weight: 600;
    font-size: 12px;
  }

  .Icon__svg {
    width: 24px;
    height: 24px;
  }

  &-n {
  }

  &-w {
  }
}

.Icon--theme-l {
  .Icon__svg {
    width: 32px;
    height: 32px;
  }
}
