<div class="mg-check-status">
    <ul class="mg-check-status__container">
        <li class="mg-check-status__block">
            <div class="mg-check-status__status">
                <span class="mg-check-svg">
                    <svg class="mg-buttons">
                        <use class="mg-buttons__bottom-use" xlink:href="#mg-check-svg"></use>
                    </svg>
                </span>
            </div>
            <div class="mg-check-status__item">
                <div class="mg-check-status__title">Новый</div>
                <div class="mg-check-status__date">23.09.2020</div>
            </div>
        </li>
        <li class="mg-check-status__block">
            <div class="mg-check-status__status">
                <span class="mg-check-svg">
                    <svg class="mg-buttons">
                        <use class="mg-buttons__bottom-use" xlink:href="#mg-check-svg"></use>
                    </svg>
                </span>
            </div>
            <div class="mg-check-status__item">
                <div class="mg-check-status__title">Принят</div>
                <div class="mg-check-status__date">23.09.2020</div>
            </div>
        </li>
        <li class="mg-check-status__block">
            <div class="mg-check-status__status">
                <span class="mg-check-svg">
                    <svg class="mg-buttons">
                        <use class="mg-buttons__bottom-use" xlink:href="#mg-check-svg"></use>
                    </svg>
                </span>
            </div>
            <div class="mg-check-status__item">
                <div class="mg-check-status__title">Согласован</div>
                <div class="mg-check-status__date">23.09.2020</div>
            </div>
        </li>
        <li class="mg-check-status__block">
            <div class="mg-check-status__status">
                <span class="mg-check-svg">
                    <svg class="mg-buttons">
                        <use class="mg-buttons__bottom-use" xlink:href="#mg-check-svg"></use>
                    </svg>
                </span>
            </div>
            <div class="mg-check-status__item">
                <div class="mg-check-status__title">Частично отгружен </div>
                <div class="mg-check-status__date">23.09.2020</div>
            </div>
        </li>
        <li class="mg-check-status__block">
            <div class="mg-check-status__status">
                <span class="mg-check-svg">
                    <svg class="mg-buttons">
                        <use class="mg-buttons__bottom-use" xlink:href="#mg-check-svg"></use>
                    </svg>
                </span>
            </div>
            <div class="mg-check-status__item">
                <div class="mg-check-status__title">Отгружен</div>
                <div class="mg-check-status__date">23.09.2020</div>
            </div>
        </li>
        <li class="mg-check-status__block">
            <div class="mg-check-status__status">
                <span class="mg-check-svg">
                    <svg class="mg-buttons">
                        <use class="mg-buttons__bottom-use" xlink:href="#mg-check-svg"></use>
                    </svg>
                </span>
            </div>
            <div class="mg-check-status__item">
                <div class="mg-check-status__title">Выполнен</div>
                <div class="mg-check-status__date">23.09.2020</div>
            </div>
        </li>
    </ul>
</div>