.mg-check-status{
    padding: rem(22) rem(40);
    border-top: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
    &__container{
        // display:flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    }
    &__block{
        position: relative;
        display: flex;
        align-items: center;

        // margin-left: 20px;
        &:not(:first-child){
            @include adaptiv-value(margin-left, 82.2, 0, 1);
            &::before{
                content: '';
                display:block;
                position:absolute;
                @include adaptiv-value(width, 72.2, 0, 1);
                height: 1px;
                // left: -72px;
                @include adaptiv-value(left, -77.2, 0, 1);
                background-color: #EEEFF7;
            }
        }
    }
    &__status{
        display: flex;
        @include adaptiv-value(width, 32, 27, 1);
        @include adaptiv-value(height, 32, 27, 1);
        border: 1px solid #EEEFF7;
        border-radius: 50%;
        @include adaptiv-value(padding, 5, 2, 1);
        
        
    }
    &__item{
        @include adaptiv-value(padding-left, 9, 1, 1);
    }
    &__title{
        @include adaptiv-value(font-size, 18, 12, 1);
    }
    &__date{
        @include adaptiv-value(font-size, 12, 7, 1);
        display:none;
    }
}


/* mg-status-green */
.mg-status-green{
     
    .mg-check-status__status{
        border-color: $lime;
    }
    .mg-check-status__date{
        display:block;
    }
    .mg-check-svg{
        fill: $lime;
    }
}

.mg-status-green.mg-check-status__block::before{
        background-color: $lime;
}

