<div class="condition condition--error">
	<div class="condition__wrapper">
		<div class="condition__item Pn Pn--centerXY">
			<span class="condition__item-text">
				1
			</span>
			<span class="Icon Icon--red Icon--theme-m">
				<div class="Icon__content">
					<svg class="Icon__svg">
						<use class="Icon__svg-use" xlink:href="#close"></use>
					</svg>
				</div>
			</span>
		</div>
	</div>
</div>