.Card-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 650px;
  box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
  background: $bg;
  transition: $transition;
  width: 100%;
  overflow: hidden;
	margin: 0 auto;
	&--close {
		width: 245px;
		min-height: 480px;
		margin: 0 auto;
		.Card-product {
			&__subtitle,
			&__title {
				padding: 0;
			}
			&__btn-specifications {
				display: none;
			}
			&__block-img {
				.Badges {
					&__interaction-last {
						display: none;
					}
				}
				.Palette {
					display: none;
				}
	
			}
			&__retail-price {
				padding: 10px 18px;
			}
			&__wrapper {
				padding: 16px 18px 0;
			}

		}
  }
  &--active {
    .Card-product {
      &__img {
        transform: translateX(35%);
        width: 60%;
      }
      &__block-img {
        padding-bottom: 33%;
        margin-bottom: 40px;

        .Palette {
          top: inherit;
          bottom: -34px;
          left: 50%;
          transform: translateX(-50%);

          animation-duration: 4s;
          animation-fill-mode: forwards;
          animation-name: paletteActive;

          @keyframes paletteActive {
            0% {
              opacity: 0;
            }

            100% {
              opacity: 1;
            }
          }

          &__list-color-selection {
            display: flex;
            flex-flow: row;
            width: 100%;
          }
          &__item-color-selection {
            width: 25px;
            height: 25px;
          }
        }
      }
      &__have {
        margin-top: 10px;
        border-top: 1px solid $gray-border;
      }
      &__have-icon {
        display: block;
      }
    }
  }

  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    // transform: scale(1.02) translate(0, -4px);
  }
  .Badges {
    &__offer {
    }
  }
  .Swiper-button-default {
    top: 59%;
  }
  &__block-instruments-mobile {
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $gray-border;
    padding: 16px 10px;
    opacity: 0;
    visibility: hidden;
  }

  &__block-have-info {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray;
    border-radius: 6px;
    padding: 5px 10px;
    width: 235px;
    background: $gray-bg;
    transform: translate(-50%, -50%);
    transition: none;
    z-index: 10;
  }

  &__block-specification {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 -30px;

    &--active {
      display: flex;
    }
  }
  &__content-specification {
  }

  &__badges-left {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    :not(:first-child) {
      margin-top: 10px;
    }
  }

  &__badges-right {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    :not(:first-child) {
      margin-top: 10px;
    }
  }

  &__badges-discount {
    border-radius: 2px;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    background: #d84040;
  }

  &__block-img {
    position: relative;
    padding-bottom: 100%;
    margin-top: 20px;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: imgActive;

    @keyframes imgActive {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .Palette {
      position: absolute;
      left: 15px;
      top: 60%;
      transform: translate(-50%, -50%);
      z-index: 100;

      // transition: $transition;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-name: paletteNotActive;

      @keyframes paletteNotActive {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }

  &__block-info {
  }
  &__block-retail-price-value,
  &__block-trade-price-value,
  &__block-your-price-value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__btn-specifications {
    position: absolute;
    right: -20px;
    top: -16px;
    padding: 21px;

    &--active {
      .Button {
        &--lime {
          outline: none;
          color: #9aca3c;
          background: none;
          fill: $lime;
          border-color: #9aca3c;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
        &__icon-svg {
          fill: $lime !important;
        }
      }
    }

    .Button {
      &__icon-svg {
        margin: 0;
      }

      &--theme-s {
        width: 42px;
      }
    }
  }
  &__btn-delete {
    position: absolute;
		right: -20px;
    top: -15px;

    .Button {
      &__icon-svg {
        margin: 0;
      }

      &--theme-s {
        width: 32px;
        min-height: 32px;
        border: none;
        padding: 0;
      }
      &__icon-svg {
        width: 32px;
        height: 32px;
        fill: $gray;
      }
    }
  }

  &__btn-feature {
    position: absolute;
    right: 0;
    bottom: 0;

    .Button {
      &__icon-svg {
        margin: 0;
      }

      &--theme-s {
        width: 42px;
      }
    }
  }

  &__btn-basket {
    .Button--theme-l {
      width: 100%;
    }
  }

  &__btn-video {
    position: absolute;
    top: 375px;
  }

  &__container-img {
    @include adaptiv-value("margin-top", 20, 12, 1);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-position: center;
  }

  &__form-specification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
    width: 100%;
    .Radio-btn {
      align-items: center;
    }
  }
  &__header {
    position: relative;
  }
  &__have {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -8%;
    padding: 5px 0;
    background: #f9faff;
    font-weight: 600;
  }

  &__have-text {
  }

  &__have-icon {
    display: none;
    margin-left: 12px;
  }

  &__have-info-heading {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__have-info-heading-decor {
    font-weight: 600;
  }

  &__have-info-heading-text {
    text-align: center;
  }

  &__have-info-title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-top: 1px solid $gray;
    padding-top: 5px;
    width: 100%;
  }

  &__have-info-title-text {
  }

  &__heading {
    position: relative;
  }

  &__inner {
    margin-top: 5px;
  }

  &__palette {
    .Palette {
      &__color-selection {
        position: absolute;
        top: 50%;
        transform: translateY(50%);
      }
    }
  }

  &__retail-price-title {
  }

  &__size-specification {
    margin-top: 5px;
    & label span {
      padding: 4px;
    }
  }
  &__type-specification {
    margin-right: 20px;
    margin-top: 5px;
  }
  &__subtitle {
    @include adaptiv-value("margin-top", 5, 0, 1);
		@include adaptiv-value("padding-left", 40, 10, 1);
		@include adaptiv-value("padding-right", 40, 10, 1);

    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__subtitle-text {
    @include adaptiv-value("font-size", 16, 12, 1);
    @include adaptiv-value("line-height", 19, 14, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
  }

  &__title {
		@include adaptiv-value("padding-left", 40, 10, 1);
		@include adaptiv-value("padding-right", 40, 10, 1);
    // padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title-text {
    @include adaptiv-value("font-size", 22, 14, 1);
    @include adaptiv-value("line-height", 26, 17, 1);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-weight: 600;
    text-align: center;
    color: $black;
  }

  &__wrapper {
    position: relative;
    @include adaptiv-value("padding-top", 16, 10, 1);
    @include adaptiv-value("padding-left", 30, 10, 1);
    @include adaptiv-value("padding-right", 30, 10, 1);
  }

  .instruments-mobile-Card-product {
    &__block-left {
      &:not(last-child) > a {
        margin-right: 12px;
      }
    }

    &__block-right {
      .Button {
        &__icon {
        }

        &__icon-svg {
          margin: 0;
          width: 24px;
          height: 24px;
        }

        &__icon-svg-use {
        }

        &--lime-light {
        }

        &--theme-s {
          border: none;
          width: 40px;
          height: 40px;
        }

        &--theme-s-n {
        }
      }
    }
  }

  &__retail-price,
  &__trade-price,
  &__your-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    @include adaptiv-value("padding-left", 30, 10, 1);
    @include adaptiv-value("padding-right", 30, 10, 1);
  }
  &__trade-price,
  &__your-price {
    display: none;
    &--active {
      display: flex;
    }
  }

  &__retail-price-title-text,
  &__trade-price-title-text,
  &__your-price-title-text {
    color: $lime;
  }

  &__retail-price-value,
  &__trade-price-value,
  &__your-price-value {
    @include adaptiv-value("font-size", 22, 16, 1);
    @include adaptiv-value("line-height", 26, 19, 1);

    flex-shrink: 0;
    padding-left: 10px;
    font-weight: 600;
    color: $lime;
  }

  &__retail-price-value-old,
  &__trade-price-value-old,
  &__your-price-value-old {
    margin-left: 5px;
    text-decoration: line-through;
    flex-shrink: 0;
  }

  &__retail-price-title,
  &__trade-price-title,
  &__your-price-title {
    flex: 1 1 40%;
  }
  &__retail-price-value,
  &__trade-price-value,
  &__your-price-value {
    flex: 1 1 50%;
  }

  &__block-img {
    padding: 50%;
    transition: $transition;
    .Badges {
      .Pos--centerXY {
        left: 20%;
        top: 60%;
      }
    }
  }

  &__img {
    transform: translateX(22%);
    width: 70%;
  }
}
