<aside class="product-filter">
    <form action="">
        <div class="product-filter__block-icon-close">
            <svg class="product-filter__icon-close" data-filter-icon-close>
                <use xlink:href="#close"></use>
            </svg>
        </div>
        <div class="product-filter__header">
            <div class="product-filter__block-title">
                <span class="product-filter__title">Фильтр</span>
                <span class="product-filter__subtitle">Входные двери</span>
            </div>
        </div>
        <div class="product-filter__content">
            <ul class="product-filter__list" data-list-lvl-one>
                <li class="product-filter__li">
                    <div class="product-filter__li-wrapper-title">
                        <div class="product-filter__li-block-title">
                            <span class="product-filter__li-title">Цена</span>
                            <span class="product-filter__li-icon-prompt">
                                <svg class="product-filter__icon-prompt">
                                    <use xlink:href="#information-have"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                    @include('../range-slider/range-slider.html')
                </li>
                <li class="product-filter__li">
                    <div class="product-filter__li-wrapper-title">
                        <div class="product-filter__li-block-title">
                            <span class="product-filter__li-title">Дизайн</span>
                            <span class="product-filter__li-icon-prompt">
                                <svg class="product-filter__icon-prompt">
                                    <use xlink:href="#information-have"></use>
                                </svg>
                            </span>
                        </div>
                        <span class="product-filter__li-icon-arrow">
                            <svg class="product-filter__icon-arrow">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </span>
                    </div>
                    <ul class="product-filter__list" data-list-lvl-two>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Классика</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Современный</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="product-filter__li">
                    <div class="product-filter__li-wrapper-title">
                        <div class="product-filter__li-block-title">
                            <span class="product-filter__li-title">Цветовая гамма</span>
                            <span class="product-filter__li-icon-prompt">
                                <svg class="product-filter__icon-prompt">
                                    <use xlink:href="#information-have"></use>
                                </svg>
                            </span>
                        </div>
                        <span class="product-filter__li-icon-arrow">
                            <svg class="product-filter__icon-arrow">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </span>
                    </div>
                    <ul class="product-filter__list" data-list-lvl-two>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Белая</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Светлая</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Серая</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Тёмная</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="product-filter__li">
                    <div class="product-filter__li-wrapper-title">
                        <div class="product-filter__li-block-title">
                            <span class="product-filter__li-title">Материал/Покрытие</span>
                            <span class="product-filter__li-icon-prompt">
                                <svg class="product-filter__icon-prompt">
                                    <use xlink:href="#information-have"></use>
                                </svg>
                            </span>
                        </div>
                        <span class="product-filter__li-icon-arrow">
                            <svg class="product-filter__icon-arrow">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </span>
                    </div>
                    <ul class="product-filter__list" data-list-lvl-two>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Современные покрытия</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Массив</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Шпон</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Эмаль</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Ламинированные покрытия</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="product-filter__li">
                    <div class="product-filter__li-wrapper-title">
                        <div class="product-filter__li-block-title">
                            <span class="product-filter__li-title">Тип покрытия</span>
                            <span class="product-filter__li-icon-prompt">
                                <svg class="product-filter__icon-prompt">
                                    <use xlink:href="#information-have"></use>
                                </svg>
                            </span>
                        </div>
                        <span class="product-filter__li-icon-arrow">
                            <svg class="product-filter__icon-arrow">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </span>
                    </div>
                    <ul class="product-filter__list" data-list-lvl-two>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Классика</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Современный</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="product-filter__li">
                    <div class="product-filter__li-wrapper-title">
                        <div class="product-filter__li-block-title">
                            <span class="product-filter__li-title">Нестандартный размер</span>
                            <span class="product-filter__li-icon-prompt">
                                <svg class="product-filter__icon-prompt">
                                    <use xlink:href="#information-have"></use>
                                </svg>
                            </span>
                        </div>
                        <span class="product-filter__li-icon-arrow">
                            <svg class="product-filter__icon-arrow">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </span>
                    </div>
                    <ul class="product-filter__list" data-list-lvl-two>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Классика</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                        <li class="product-filter__li">
                            <div class="Checkbox Checkbox--default">
                                <label class="Checkbox__label">
                                    <input type="checkbox" class="Checkbox__input">
                                    <span class="Checkbox__inner-text">
                                        <span class="Checkbox__text">Современный</span>
                                    </span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="product-filter__li">
                    <div class="product-filter__li-wrapper-title">
                        <div class="product-filter__li-block-title">
                            <span class="product-filter__li-title">Группа товаров</span>
                        </div>
                    </div>
                    <ul class="product-filter__list no-js" style="display: block;" data-list-lvl-two>
                        <li class="product-filter__li">
                            <span class="hashtag">#лофт</span>
                        </li>
                        <li class="product-filter__li">
                            <span class="hashtag">#выбор_дизайнеров</span>
                        </li>
                        <li class="product-filter__li">
                            <span class="hashtag">#влагостойкие</span>
                        </li>
                        <li class="product-filter__li">
                            <span class="hashtag">#можно_мыть</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="product-filter__footer">
            <button type="reset" class="Button Button--gray-light Button--theme-xs">
                <span class="Button__icon">
                    <svg class="Button__icon-svg">
                        <use class="Button__icon-svg-use" xlink:href="#discharge"></use>
                    </svg>
                </span>
            </button>
            <button type="submit" class="Button Button--lime Button--theme-s">
                <span class="Button__text">Применить</span>
            </button>
        </div>
    </form>
</aside>