.product-filter {
  position: fixed;
  z-index: 600;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: $white;
  overflow-y: auto;
  transform: translateX(100%); // 100%
  transition: $transition;

  &--active {
    transform: translateX(0);
  }

  &__content,
  &__header,
  &__footer {
    padding: 21px;
  }

  &__header {
    border-bottom: 1px solid $gray-border;
  }

  &__content {
    position: relative;
  }

  &__block-icon-close {
    position: absolute;
    top: 26px;
    left: 21px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      opacity: 0.6;
    }
  }

  &__icon-close {
    width: 20px;
    height: 20px;
    fill: $gray;
  }

  &__block-title {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: $black;
  }

  &__subtitle {
    line-height: 19px;
    color: #7d8e9a;
  }

  .range-slider {
    margin-top: 16px;
  }

  &__list[data-list-lvl-one] {
    .product-filter__li {
      cursor: pointer;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    .product-filter__li-title {
      color: $black;
    }
  }

  &__list[data-list-lvl-two] {
    display: none;
    margin-top: 22px;

    .product-filter__li {
      &:not(:first-child) {
        margin-top: 11px;
      }
    }
  }

  &__li-wrapper-title {
    display: flex;
    justify-content: space-between;
  }

  &__li-block-title {
  }

  &__li-title {
  }

  &__li-icon-prompt {
    cursor: pointer;
    transition: $transition;

    &:hover {
      opacity: 0.6;
    }
  }

  &__icon-prompt {
    width: 15px;
    height: 15px;
    fill: $gray;
  }

  &__li-icon-arrow {
    transition: $transition;
    &--active {
      transform: rotate(90deg);
    }
  }

  &__icon-arrow {
    width: 10px;
    height: 10px;
    fill: $gray;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $gray-border;

    .Button:nth-child(1) {
      width: 42px;

      .Button__icon-svg {
        margin: 0;
      }
    }
  }
}
