.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: center;
  text-decoration-line: none;
  text-overflow: ellipsis;
  background-color: transparent;
  transition: $transition;
  cursor: pointer;
  user-select: none;

  &__icon {
    display: flex;
    transition: $transition;
  }

  &__text {
    text-overflow: ellipsis;
    transition: $transition;
  }
}

// Color
// !Transparent (light)//
.Button--lime-light {
  $colorAccent: $lime;
  $colorAccentHover: $white;

  border: 1px solid;

  .Button__icon-svg,
  .Button__icon-svg-right {
    fill: #9aca3c;
    transition: $transition;
  }

  .Button__text-counter {
    color: $colorAccent;
    transition: $transition;
  }

  border-color: $colorAccent;
  color: $colorAccent;

  .Button__text {
    color: $colorAccent;
  }

  &:hover {
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    // color: $colorAccentHover;
    background-color: $colorAccent;
  }

  &:hover .Button__text {
    color: $colorAccentHover;
  }

  &:hover > .Button__icon .Button__icon-svg,
  &:hover > .Button__icon .Button__icon-svg-right {
    fill: $white;
  }

  &:hover .Button__text-counter {
    color: $white;
    transition: $transition;
  }

  &:disabled {
    border-color: #e5e5e5;
    background-color: #f7f6fa;
    cursor: initial;

    .Button__text {
      color: #888;
    }
  }
}

// .Button--lime-light-active {
//   $colorAccent: $black;
//   $colorAccentHover: $white;

//   border: 1px solid;
//   border-color: $colorAccent;
//   transition: $transition;

//   .Button {
//     &__icon {
//       fill: $colorAccent;
//       transition: $transition;
//     }

//     &__icon-svg {
//       transition: $transition;
//     }

//     &__text {
//       color: $colorAccent;
//       transition: $transition;
//     }
//   }

//   &:hover .Button__text-counter {
//     color: $white;
//     transition: $transition;
//   }

//   &:hover > .Button__icon .Button__icon-svg,
//   &:hover > .Button__icon .Button__icon-svg-right {
//     fill: $white;
//     transition: $transition;
//   }

//   &:hover {
//     background: $colorAccent;
//     transition: $transition;

//     .Button {
//       &__text {
//         color: $colorAccentHover;
//       }
//     }
//   }
// }
.Button--lime-active {
  $colorAccent: $black;
  $colorAccentHover: $white;

  border: 1px solid;
  border-color: $colorAccent;
  transition: $transition;

  .Button {
    &__icon {
      fill: $colorAccent;
      transition: $transition;
    }

    &__icon-svg {
      transition: $transition;
    }

    &__text {
      color: $colorAccent;
      transition: $transition;
    }
  }

  &:hover .Button__text-counter {
    color: $white;
    transition: $transition;
  }

  &:hover > .Button__icon .Button__icon-svg,
  &:hover > .Button__icon .Button__icon-svg-right {
    fill: $white;
    transition: $transition;
  }

  &:hover {
    background: $colorAccent;
    transition: $transition;

    .Button {
      &__text {
        color: $colorAccentHover;
      }
    }
  }
}

.Button--gray-light {
  $colorAccent: $gray;
  $colorAccentHover: #fff;
  border: 1px solid currentColor;

  .Button__icon-svg {
    fill: $colorAccent;
    transition: $transition;
  }

  border-color: $colorAccent;
  color: $colorAccent;

  .Button__text {
    color: $colorAccent;
  }

  &:hover {
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: $colorAccentHover;
    border: 1px solid $colorAccent;
    background-color: $colorAccent;
  }

  &:hover .Button__text {
    color: $colorAccentHover;
  }

  &:hover > .Button__icon .Button__icon-svg {
    fill: $white;
  }

  &:disabled {
    border-color: #e5e5e5;
    background-color: #f7f6fa;
    cursor: initial;

    .Button__text {
      color: #888;
    }
  }
}
.Button--gray-bg-light {
  $colorAccent: #e3e6f3;
  $colorAccentHover: #fff;

  .Button__icon-svg {
    fill: #8f96b0;
    transition: $transition;
  }

  &:not(:disabled) {
    border-color: #e3e6f3;
    color: $colorAccent;

    .Button__text {
      color: $colorAccent;
    }

    &:hover {
      outline: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: $colorAccentHover;
      background-color: $colorAccent;
    }

    &:hover .Button__text {
      color: $colorAccentHover;
    }
  }

  &:hover > .Button__icon .Button__icon-svg {
    fill: $black;
  }

  &:disabled {
    border-color: #e5e5e5;
    background-color: #f7f6fa;
    cursor: initial;

    .Button__text {
      color: #888;
    }
  }
}
// !Accent//
.Button--lime {
  $colorAccent: $white;
  $colorAccentHover: $lime;

  border: 1px solid;

  .Button__icon-svg {
    fill: $white;
    transition: $transition;
  }

  border-color: $colorAccentHover;
  color: $colorAccent;
  background-color: $colorAccentHover;
  transition: $transition;

  .Button__text {
    color: $colorAccent;
  }

  &:hover {
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: $colorAccentHover;
    background: none;
  }

  &:hover .Button__text {
    color: $colorAccentHover;
  }

  &:hover > .Button__icon .Button__icon-svg {
    fill: $lime;
  }

  &:disabled {
    border-color: #e5e5e5;
    background-color: #f7f6fa;
    cursor: initial;

    .Button__text {
      color: #888;
    }
  }
}

.Button--green-gradient {
  $colorAccent: $white;
  $colorAccentHover: $green-gradient;

  border: 1px solid;

  .Button__icon-svg {
    fill: $white;
    transition: $transition;
  }

  &:not(:disabled) {
    border-color: $lime;
    color: $colorAccent;
    background: $colorAccentHover;
    transition: $transition;

    .Button__text {
      color: $white;
    }

    &:hover {
      outline: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: $colorAccentHover;
      background: linear-gradient(180deg, #cbea0075 0%, #77b24f79 100%);
    }

    &:hover .Button__text {
      color: $white;
    }
  }

  &:hover > .Button__icon .Button__icon-svg {
    fill: $lime;
  }

  &:disabled {
    border-color: #e5e5e5;
    background-color: #f7f6fa;
    cursor: initial;

    .Button__text {
      color: #888;
    }
  }
}

.Button--white {
  $colorAccent: $lime;
  $colorAccentHover: $white;

  border: 1px solid;
  box-shadow: 0 5px 15px rgba(1, 12, 53, 0.3);

  .Button__icon-svg {
    fill: $colorAccent;
    transition: $transition;
  }

  &:not(:disabled) {
    border-color: $colorAccentHover;
    color: $colorAccent;
    background-color: $colorAccentHover;
    transition: $transition;

    .Button__text {
      color: $colorAccent;
    }

    &:hover {
      outline: none;
      border: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: $colorAccent;
      background: none;
      background-color: $lime;
      fill: red;
    }

    &:hover .Button__text {
      color: $colorAccentHover;
    }
  }

  &:hover > .Button__icon .Button__icon-svg--right-rotate {
    fill: $red;
  }

  &:disabled {
    border-color: #e5e5e5;
    background-color: #f7f6fa;
    cursor: initial;

    .Button__text {
      color: #888;
    }
  }
}

.Button--white-black {
  $colorAccent: $black;
  $colorAccentHover: $lime;

  border: 1px solid;
  box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);

  .Button__icon-svg {
    fill: $colorAccent;
    transition: $transition;

    &--red {
      fill: $red;
    }
  }

  &:not(:disabled) {
    border-color: $white;
    color: $colorAccent;
    background-color: $white;
    transition: $transition;

    .Button__text {
      color: $colorAccent;
    }

    &:hover {
      outline: none;
      border: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: $colorAccentHover;
      background: none;
      background-color: $white;
    }

    &:hover .Button__text {
      color: $colorAccentHover;
    }
  }

  .Button__icon .Button__icon-svg--right-rotate {
    fill: $gray;
    transform: rotate(90deg);
  }

  &:hover > .Button__icon .Button__icon-svg {
    fill: $colorAccentHover;
  }

  &:hover > .Button__icon .Button__icon-svg--right-rotate {
    transform: rotate(0deg);
  }

  &:disabled {
    border-color: #e5e5e5;
    background-color: #f7f6fa;
    cursor: initial;

    .Button__text {
      color: #888;
    }
  }
}
.Button--white-black-cls {
	.Button {
		overflow: visible;
	}
  $colorAccent: $black;
  $colorAccentHover: $lime;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    height: 1px;
    background: $colorAccent;
    transform: scale(0);
    transition: $transition;
  }
  &:hover::before {
    transform: scale(2);
    transition: $transition;
  }
  &:hover {
    outline: none;
    border: none;
    color: $colorAccentHover;
    background: none;
  }

  &:not(:disabled) {
    color: $colorAccent;
    background-color: $white;
    transition: $transition;

    .Button__text {
      color: $colorAccent;
    }
    &:hover .Button__text {
      color: $colorAccentHover;
    }
  }

  &:disabled {
    border-color: #e5e5e5;
    background-color: #f7f6fa;
    cursor: initial;

    .Button__text {
      color: #888;
    }
  }
}

.Button--gradient {
  border: 1px solid;
  color: #fff;
  background: linear-gradient(130deg, #fff 50%, #398a99 50%);
  background-size: 300%;

  &:hover {
    background-position: 100% 0;
  }
}

.Button--gray {
  $colorAccent: $gray;
  $colorAccentHover: $lime;

  border-bottom: 1px solid $gray-border;
  color: $colorAccent;
  background: none;
  transition: $transition;
  .Button {
    &__icon-right {
      transition: $transition;
    }
    &__icon-svg-right,
    &__text {
      fill: currentColor;
      transition: none;
    }

    // &__icon-right {
    //   transform: rotate(0deg);
    //   transition: 0.1s all;
    // }
    // :hover > &__icon-right {
    //   transform: rotate(180deg);
    // }
  }

  &:hover {
    outline: none;
    border-top: 1px solid $gray-border;
    color: $colorAccentHover;
    background: none;
    border-bottom: 3px solid $lime;
    .Button__icon-right {
      transform: rotate(180deg);
    }
  }
  &-active {
    outline: none;
    border-top: 1px solid $gray-border;
    border-bottom: 3px solid $lime;
    color: $colorAccentHover;
    background: none;
    .Button__icon-right {
      transform: rotate(180deg);
    }
  }
}

// !Themes

.Button--theme-xs {
  @include adaptiv-value("width", 120, 60, 1);

  // border: 1px solid;
  border-radius: 6px;
  padding: 5px 10px;
  width: 120px;
  min-height: 40px;

  .Button__icon-svg {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

  &-n {
    @include adaptiv-value("width", 116, 50, 1);

    min-height: 42px;
  }

  &-w {
    width: 153px;
    min-height: 42px;
  }
}

.Button--theme-s {
  @include adaptiv-value("width", 188, 150, 1);
  @include adaptiv-value("min-height", 42, 32, 1);

  border: 1px solid;
  border-radius: 6px;
  padding: 5px 10px;

  .Button__text {
    @include adaptiv-value("font-size", 16, 14, 1);
    @include adaptiv-value("line-height", 19, 16, 1);
  }

  .Button__icon-svg {
    @include adaptiv-value("margin-left", 20, 10, 1);

    width: 9px;
    height: 10px;
  }

  &-n {
    width: 125px;

    .Button__icon-svg {
      margin: 0;
      width: 24px;
      height: 24px;
    }
  }

  &-w {
    max-width: 200px;
  }
}

.Button--theme-m {
  border-radius: 6px;
  padding: 5px 10px;
  width: 241px;
  min-height: 50px;

  .Button__icon-svg {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

  &-w {
    width: 280px;

    .Button__text {
      font-size: 18px;
    }
  }
}

.Button--theme-l {
  // border: 1px solid;
  padding: 10px 15px 10px 20px;
  width: 242px;
  min-height: 51px;

  .Button__icon--right {
    margin-left: auto;
  }

  .Button__icon-svg {
    margin-right: 8px;
    width: 24px;
    height: 24px;

    &--left {
      margin-right: 15px;
    }

    &--right {
      width: 9px;
      height: 9px;
    }
  }

  &-n {
    border-radius: 6px;
    width: 311px;
    min-height: 66px;
    font-size: 18px;
  }

  &-w {
    width: 420px;
  }
}

.Button--theme-xl {
  border: 1px solid;
  border-radius: 6px;
  padding: 5px 10px;
  width: 327px;
  min-height: 52px;

  .Button__text {
    font-size: 18px;
  }

  .Button__icon-svg {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

  .Button__icon-svg-right {
    margin-left: 20px;
    width: 5px;
    height: 10px;
  }
}

.Button--theme-xxl {
  padding: 5px 10px;
  width: 100%;
  min-height: 70px;

  .Button__text {
    @include adaptiv-value("font-size", 28, 18, 1);

    margin-left: auto;
    line-height: 118%;
  }

  .Button__icon-right {
    margin-left: auto;
  }

  .Button__icon-svg-right {
    width: 30px;
    height: 30px;
  }
}

// xs/s/m/l/xl/xxl/xxxl/bxl/bxxl/bxxxl
