.popup-attention {
	padding: 44px 20px 27px 20px;
	@include adaptiv-value("width", 500, 320, 1);
	min-height: 327px;
	
  &__btn {
		margin-top: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		.Button {
			&__text {
			}
			&--lime {
			}
			&--theme-s {
			}
			&--theme-s-n {
				width: 206px;
			}
		}
  }
	
  &__heading {
		margin-top: 25px;
  }
  &__subtitle {
		flex-direction: column;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
		text-align: center;
		color: $black;
		margin-top: 8px;
  }
	&__icon {
		pointer-events: none;
    width: 60px;
    height: 60px;
    margin: 0 auto;
		.Icon--theme-m .Icon__svg  {
			width: 62px;
			height: 62px;

		}
	}
  &__title {
		font-size: 22px;
		line-height: 118%;
		color: $black;
		font-weight: 600;
		text-align: center;
  }
  &__wrapper {
  }
}
