<div class="popup-attention" id="popup-attention" style="display: none">
	<div class="popup-attention__wrapper">

		<div class="popup-attention__icon">
			<button class="Icon Icon--red  Icon--theme-m">
				<div class="Icon__content">
					<svg class="Icon__svg">
						<use class="Icon__svg-use" xlink:href="#information-have"></use>
					</svg>
				</div>
			</button>
	</div>

		<div class="popup-attention__heading">
			<div class="popup-attention__title">
				<h3 class="popup-attention__title-text">Внимание!</h3>

			</div>
			<div class="popup-attention__subtitle">
				<span class="popup-attention__subtitle-text">Недостаточно товара на&nbsp;складе.</span>
				<span class="popup-attention__subtitle-text"> Срок поступления уточняйте у&nbsp;Вашего менеджера.</span>
			</div>
		</div>

		<div class="popup-attention__btn">
			<a class="Button Button--gray-light Button--theme-xs Button--theme-xs-w">
				<span class="Button__text">Продолжить</span>
			</a>
		</div>

	</div>
</div>