<div class="compares-options__wrapper">

	<div class="compares-options__desc">
		<div class="compares-options__desc-icon">
			<svg class="compares-options__desc-icon-svg">
				<use class="compares-options__desc-icon-svg-use" xlink:href="#scales"></use>
			</svg>
		</div>
		<div class="compares-options__desc-content">
			<p class="compares-options__desc-content-text">Здесь вы можете сравнить выбранные товары по различным параметрам и
				характеристикам, и выбрать оптимальное решение</p>
		</div>

	</div>

	<div class="compares-options__filter">
		<form action="" class="compares-options__form-specification">
			<div class="compares-options__type-specification">


				<div class="Radio-btn-default">
					<label class="Radio-btn-default__label">
						<input class="Radio-btn-default__input" type="radio" name="type" value="" checked="">
						<span class="Radio-btn-default__inner-text">
							<span class="Radio-btn-default__text">Ручки стандарт</span>
						</span>
					</label>
				</div>
				<div class="Radio-btn-default">
					<label class="Radio-btn-default__label">
						<input class="Radio-btn-default__input" type="radio" name="type" value="">
						<span class="Radio-btn-default__inner-text">
							<span class="Radio-btn-default__text">Ручки на планке</span>
						</span>
					</label>
				</div>
				<div class="Radio-btn-default">
					<label class="Radio-btn-default__label">
						<input class="Radio-btn-default__input" type="radio" name="type" value="" disabled="">
						<span class="Radio-btn-default__inner-text">
							<span class="Radio-btn-default__text">Ручки купе</span>
						</span>
					</label>
				</div>

			</div>
		</form>
	</div>

	<div class="compares-options__btns">
		<a class="Button Button--lime-light Button--theme-m" href="#">
			<span class="Button__text">Все характеристики</span>
		</a>
		<a class="Button Button--lime-light Button--theme-m" href="#">
			<span class="Button__text">Показать различия</span>
		</a>
	</div>

</div>