<div class="mg-add-store">
    <div class="mg-add-store__container mg-table-container--border">
        <div class="mg-table__header mg-table--theme--grid">
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Город</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Адрес</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Телефон</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Физ./Юр. лицо</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Расписание</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Опции</span>
                </div>
            </div>
        </div>
        <div class="mg-table__body-container mg-colors--default">
            <div class="mg-table__body mg-table--theme--grid">
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">Славянск-на- Кубани </div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">г. Славянск-на- Кубани, ул. 8 марта, 16</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">ООО Ромашка</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">
                        @include('../../TimeTable/timetable.html')
                    </div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mg-table__body mg-table--theme--grid">
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">Краснодар</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">г. Краснодар, ул. им. Героя Игнатьева, 267/Б</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">ИП Ирис</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title"> @include('../../TimeTable/timetable.html')</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mg-table__body mg-table--theme--grid">
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">Ейск</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">г. Ейск, ул. им. Героя Игнатьева, 122</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">ООО Винни-Пух</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title"> @include('../../TimeTable/timetable.html')</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                           
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>