.popup-product-added {
	padding: 35px 28px 28px 28px;
	max-width: 260px;
	&__btn {
		margin-top: 11px;

		.Button--theme-s-n {
			width: 100%;
		}
	}
  &__title {
  }
  &__title-text {
		font-size: 18px;
		color: $black;
		text-align: center;

  }
  &__wrapper {
  }
}
