<div class="popup-product-added" id="popup-product-added" style="display: none">
	<div class="popup-product-added__wrapper">
		<div class="popup-product-added__title">
			<h3 class="popup-product-added__title-text">Товар добавлен в корзину</h3>

		</div>
		<div class="popup-product-added__btn">
			<a class="Button Button--lime Button--theme-s Button--theme-s-n" href="#">
				<span class="Button__icon">
					<svg class="Button__icon-svg">
						<use class="Button__icon-svg-use" xlink:href="#basket"></use>
					</svg>
				</span>
				<span class="Button__text">Перейти в корзину</span>
			</a>
		</div>
	</div>
</div>