.information-account {
	transition: $transition;
  &--active {
    .information-account {
      &__title {
        .Button {
          &__icon-svg {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  margin-top: 20px;
  &__btns {
		display: flex;
		margin-top: 30px;
		justify-content: center;
		align-items: center;
		border-top: 1px solid $gray-border;
		padding-top: 15px;
  }
	&__content {
		display: none;
	}
  &__checkbox {
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.Checkbox {
			// flex: 1 1 49%;
			margin-top: 20px;
		}
  }
  &__title {
		cursor: pointer;
    font-size: 20px;
    color: $black;
    display: flex;
    justify-content: space-between;
		font-weight: 600;
    .Button {
      &__icon-svg {
        width: 10px;
        height: 10px;
        transform: rotate(270deg);
        fill: #e3e6f3;
      }
    }
  }
  &__title-text {
  }
  &__wrapper {
    @include adaptiv-value("padding-top", 22, 30, 1);
    @include adaptiv-value("padding-bottom", 22, 15, 1);
    @include adaptiv-value("padding-left", 40, 0, 1);
    @include adaptiv-value("padding-right", 40, 0, 1);
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
  }
}
