<div class="information-account">
	<div class="information-account__wrapper">
		<div class="information-account__title">
			<h3 class="information-account__title-text">
				Информационный счёт
			</h3>
			<div class="Button Button--js">
				<span class="Button__icon">
					<svg class="Button__icon-svg">
						<use class="Button__icon-svg-use" xlink:href="#arrow-right"></use>
					</svg>
				</span>
			</div>
		</div>

		<div class="information-account__content">
			<div class="information-account__checkbox">
				<div class="Checkbox Checkbox--default">
					<label class="Checkbox__label">
						<input type="checkbox" class="Checkbox__input">
						<span class="Checkbox__inner-text">
							<span class="Checkbox__text">С розничной ценой</span>
						</span>
					</label>
				</div>
				<div class="Checkbox Checkbox--default">
					<label class="Checkbox__label">
						<input type="checkbox" class="Checkbox__input">
						<span class="Checkbox__inner-text">
							<span class="Checkbox__text">Без цены</span>
						</span>
					</label>
				</div>
				<div class="Checkbox Checkbox--default">
					<label class="Checkbox__label">
						<input type="checkbox" class="Checkbox__input">
						<span class="Checkbox__inner-text">
							<span class="Checkbox__text">С оптовой ценой</span>
						</span>
					</label>
				</div>
			</div>
			<div class="information-account__btns">
				<a class="Button Button--lime Button--theme-xl" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#download-2"></use>
						</svg>
					</span>
					<span class="Button__text">Скачать pdf. файл</span>
				</a>
			</div>
		</div>
	</div>
</div>