<div class="mg-comments-box">
    <div class="mg-comments-box__container">
        <form class="ordering-page__form js-form-validation" action="" novalidate="novalidate">
            <div class="ordering-page__block-inputs">
                <div class="Input  input">
                    <label class="Input__label"> <span class="Input__label-text">Наименование (полностью)</span>
                        <input class="Input__inp" type="text" name="name"
                            placeholder="Общество с ограниченной ответственностью “Ромашка”" data-index-input="1"
                            required=""></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
                <div class="Input  input">
                    <label class="Input__label"> <span class="Input__label-text">Nick-name</span>
                        <input class="Input__inp" type="text" name="name" placeholder="romashka_krd"
                            data-index-input="1" required=""></label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
                <div class="Input  input">
                    <label class="Input__label"> <span class="Input__label-text">Описание</span>
                        <textarea class="comments__textarea Input__inp" name="comment" placeholder="Описание..." spellcheck="false"></textarea>
                    </label>
                    <span class="input-validation__message input-validation__message-mod"></span>
                </div>
            </div>
        </form>
    </div>
</div>