.basket-page__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
}
/*# sourceMappingURL=basket.css.map */