.compares__wrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.compares__box-options-parameter {
  padding-right: 30px;
}

.compares__box-cards-desc {
  overflow-x: auto;
}
/*# sourceMappingURL=compares.css.map */