.compares {
  &__wrapper {
    margin-top: 30px;
    display: flex;
  }
  &__box-options-parameter {
    padding-right: 30px;
  }
  &__box-cards-desc {
    overflow-x: auto;
  }
  &__slide {
    // .Card-product {
		// 	&--close{
		// 		@include adaptiv-value("width", 400, 140, 1);
		// 		&__block-img {
		// 			padding: 30%;
		// 		}
		// 		&__img {
		// 			width: 43%;
		// 		}
		// 		.Palette,
		// 		 {
		// 			display: none;
		// 		}
		// 			&:not(:last-child) {
		// 				margin-right: 10px;
		// 			}
		// 	}
    // }
    &--desc {
    }
  }
  &__parameter {
  }
}
