.interior-door-card .Bread-crumbs {
  margin-top: 20px;
  margin-bottom: 10px;
}

.interior-door-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.interior-door-card .header-interior-door-card__content-Product-description-Description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57.69%;
          flex: 1 1 57.69%;
}

.interior-door-card .header-interior-door-card__content-Thumbnail-slide-Video {
  max-width: 40.77%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40.77%;
          flex: 1 1 40.77%;
  margin-right: 20px;
}

.interior-door-card .header-interior-door-card__content-Thumbnail-slide-Video .Video {
  margin-top: 20px;
}

.interior-door-card .body-interior-door-card {
  margin-top: 45px;
}

.interior-door-card__fotter {
  margin-bottom: 40px;
}
/*# sourceMappingURL=interior-door-card.css.map */