.profile-section {
  margin-top: 10px;

  &__content {
    background-color: $white;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    padding: 74px 15px 40px 15px;
  }

  &__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &--active {
      .profile-section {
        &__name-element-value {
          position: absolute;
          opacity: 0;
          visibility: hidden;
        }

        &__btn-edit,
        &__btn-password {
          display: none;
        }

        &__btn-save {
          display: flex;
        }

        &__input {
          opacity: 1;
          visibility: visible;
          position: static;
        }
      }
      .dragfiles {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__block-info {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__block-data {
  }

  &__block-element {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 22px;
    }
  }

  &__name-element,
  &__name-element-value {
    @include adaptiv-font(16, 14);
    line-height: 19px;
    color: $black;
  }

  &__name-element {
    font-weight: 400;
    text-align: right;
    width: 80px;
  }

  &__block-input {
    position: relative;
    height: 43px;
    display: flex;
    align-items: center;
  }

  &__name-element-value {
    position: static;
    opacity: 1;
    visibility: visible;
    margin-left: 20px;
    font-weight: 600;
    transition: $transition;
  }

  &__input {
    position: absolute;
    opacity: 0;
    left: 0;
    visibility: hidden;
    margin-left: 10px;
    border: 1px solid #e3e6f3;
    border-radius: 2px;
    font-weight: 400;
    @include adaptiv-font(16, 14);
    line-height: 19px;
    padding: 0 11px;
    height: 43px;
    transition: $transition;
  }

  &__btn-edit,
  &__btn-save {
    max-width: 263px;
    width: 100%;
    margin: 60px 0 0 0;

    .Button {
      &__text {
        @include adaptiv-font(16, 14);
        line-height: 19px;
      }
    }
  }

  &__btn-edit {
    display: flex;
    .Button {
      &__icon-svg {
        width: 24px;
        height: 24px;
        margin: 0 10px 0 0;
        fill: #8f96b0;
      }
    }
  }

  &__btn-save {
    display: none;

    .Button {
      &__text {
        @include adaptiv-font(16, 14);
        line-height: 19px;
      }

      &__icon-svg {
        margin: 0 10px 0 0;
      }
    }
  }

  &__btn-password {
    display: flex;
    bottom: 0;
    left: 0;
    min-height: 52px;
    max-width: 220px;
    width: 100%;
    margin-top: auto;
  }

  &__inner-image {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    margin-left: 20px;
  }

  &__block-image {
    position: relative;
    border: 1px solid #e3e6f3;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    height: 270px;

    &:hover > .dragfiles {
      opacity: 1;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__block-buttons {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

.dragfiles {
  visibility: hidden;
  opacity: 0;
  transition: $transition;

  &--hover {
    opacity: 1;
  }

  &__content {
    width: 80%;
  }

  &__block-icon {
    display: flex;
    justify-content: center;
  }

  &__icon {
    fill: $white;
    width: 51px;
    height: 51px;
  }

  &__title-upload {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: $white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  &__text-warning-upload {
    display: block;
    margin-top: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: $white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: $transition;

    &--warning {
      color: $red;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    }

    &--success {
      color: $lime;
    }
  }
}

#filedrag {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: $transition;
}

#fileselect {
  display: none;
}
