.promo-page {
  .Title {
    @include adaptiv-value("margin-top", 30, 20, 1);

    &__wrapper {
      &--quartz {
      }

      &--theme-m {
      }
    }
  }

  .Button {
    @include adaptiv-value("margin-top", 20, 20, 1);

    &__icon {
      margin-left: auto;
    }

    &__icon-svg {
      width: 22px;
      height: 12px;
    }

    &--theme-s {
      padding: 10px 20px;
      width: 153px;
      min-height: 42px;
    }
  }
}
