.video-reviews-page {
  &__content {
    display: grid;
    justify-content: center;
    grid-gap: 30px 10px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
  }

  &__item {
  }

  &__wrapper {
  }

  .Video-reviews {
    &__block-info {
    }

    &__block-publication-time {
    }

    &__block-publication-time-value {
    }

    &__block-video {
    }

    &__block-video-size {
    }

    &__icon {
    }

    &__icon-svg {
    }

    &__icon-svg-use {
    }

    &__title {
    }

    &__title-text {
    }
  }
}
