.section-scorer {
  margin-top: 38px;

  &__wrapper {
    @include adaptiv-value("padding-top", 60, 26, 1);

    &--border {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: 50%;
        top: 0;
        display: block;
        width: 80%;
        height: 1px;
        background: #e3e6f3;
        transform: translateX(50%);
      }
    }
  }

  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &--complete {
      .section-scorer__item-value {
        color: $lime;
      }

      .section-scorer__item-text h4 {
        color: $lime;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 19.9%;
  }

  &__item-value {
    @include adaptiv-value("font-size", 52, 36, 1);
    @include adaptiv-value("line-height", 62, 43, 1);

    font-weight: 600;
    text-align: center;
    transition: 0.6s all;
  }

  &__item-text {
    @include adaptiv-value("font-size", 22, 14, 1);
    @include adaptiv-value("line-height", 26, 17, 1);

    margin-top: 4px;
    text-align: center;
    transition: 0.6s all;
  }
}
