<div class="Container Max-width">

  <div class="section-scorer__wrapper section-scorer__wrapper--border">
    <div class="section-scorer__items" id="scroll-to">
      <div class="section-scorer__item">
        <div class="section-scorer__item-value pct-counter" data-count="40">
          <h2>0</h2>
        </div>
        <div class="section-scorer__item-text">
          <h4>Производственных площадок</h4>
        </div>
      </div>
      <div class="section-scorer__item">
        <div class="section-scorer__item-value pct-counter" data-count="90000">
          <h2>0</h2>
        </div>
        <div class="section-scorer__item-text">
          <h4>м² общая площадь</h4>
        </div>
      </div>
      <div class="section-scorer__item">
        <div class="section-scorer__item-value pct-counter" data-count="1000">
          <h2>0</h2>
        </div>
        <div class="section-scorer__item-text">
          <h4>Моделей</h4>
        </div>
      </div>
      <div class="section-scorer__item">
        <div class="section-scorer__item-value pct-counter" data-count="10000">
          <h2>0</h2>
        </div>
        <div class="section-scorer__item-text">
          <h4>м² площадь логистических центров</h4>
        </div>
      </div>
      <div class="section-scorer__item">
        <div class="section-scorer__item-value pct-counter" data-count="800">
          <h2>0</h2>
        </div>
        <div class="section-scorer__item-text">
          <h4>Оптовых партнеров</h4>
        </div>
      </div>
    </div>
  </div>
</div>