.Anchor-products {
  &__link {
  }
  &__nav {
    display: flex;
    justify-content: center;
  }
  &__nav-item {
    &--active {
      .Anchor-products {
        &__link {
          position: relative;
        }
        &__link::before {
          content: "";
          position: absolute;
          top: 150%;
          display: block;
          width: 100%;
          height: 2px;
          background: $lime;
          transform: scale(0);
          transition: $transition;
          transform: scale(1.6);
          transition: $transition;
        }
      }
      .Link {
        &--black-decor {
          color: $lime;
        }
      }
    }
    &:not(:last-child) {
			@include adaptiv-value("margin-right", 93, 20, 1);
      margin-right: 93px;
    }
  }
  &__nav-list {
    display: inline-flex;
    align-items: center;
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
		@include adaptiv-value("padding-bottom", 15, 15, 1);
		@include adaptiv-value("padding-left", 50, 0, 1);
		@include adaptiv-value("padding-right", 50, 0, 1);



	

  }
  &__wrapper {

		
		::-webkit-scrollbar {
			width: 0px; /* ширина для вертикального скролла */
			height: 0px; /* высота для горизонтального скролла */
			background-color: transparent;
		}
  }
			
}

