.Card-begginer {
  &__block-img {
    transition: $transition;
  }

  &__content {
    margin-left: 45px;
  }

  &__list-item {
    @include adaptiv-value("padding-top", 40, 5, 1);
    @include adaptiv-value("padding-bottom", 40, 5, 1);
    @include adaptiv-value("padding-left", 35, 5, 1);
    @include adaptiv-value("padding-right", 35, 5, 1);
  }

  &__block-information {
    display: flex;
    margin-top: 37px;

    .Button {
      margin-left: 20px;

      &__icon-svg {
        margin: 0;
        width: 24px;
        height: 24px;
      }

      &__icon {
        margin-right: 10px;
      }
    }

    .Feedback {
      &__block-number {
      }

      &__call {
      }

      &__icon-svg {
      }

      &__icon-svg-use {
      }

      &__number {
      }

      &__number-icon {
      }

      &__wrapper {
        max-width: 100%;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-description {
    margin-top: 20px;
  }

  &__item-description-text {
    @include adaptiv-value("font-size", 18, 16, 1);
    @include adaptiv-value("line-height", 21, 16, 1);
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 28, 22, 1);
    @include adaptiv-value("line-height", 33, 26, 1);

    font-weight: 600;
    color: $black;
  }

  &__list {
    @include adaptiv-value("margin-top", 70, 18, 1);

    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(58%, 727px));
  }

  &__list-item {
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    transition: $transition;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .Card-begginer__block-img {
      filter: brightness(1.1);
    }
  }
}