<div class="Card-begginer">
	<div class="Card-begginer__list">
		<div class="Card-begginer__list-item">
			<div class="Card-begginer__block-img">
				<img class="Card-begginer__img" src="img/contacts-page-img-1.png" alt="" />
			</div>

			<div class="Card-begginer__content">
				<div class="Card-begginer__item-title">
					<h3 class="Card-begginer__item-title-text">
						В вашем городе несколько магазинов партнёров
					</h3>
				</div>
				<div class="Card-begginer__item-description">
					<h4 class="Card-begginer__item-description-text">
						Узнайте адрес магазина, в котором можно приобрести двери в
						вашем городе
					</h4>
				</div>

				<div class="Card-begginer__block-information">
					<div class="Feedback">
						<div class="Feedback__wrapper">
							<div class="Feedback__block-number">
								<div class="Feedback__number">
									<a class="Link Link--black Link--theme-m" href="tel:8(909)678-00-56">
										8 (988) 473-63-60
									</a>
								</div>
							</div>
							<div class="Feedback__call">
								<a class="Link Link--lime-decor" href="#">Заказать звонок</a>
							</div>
						</div>
					</div>
					<a class="Button Button--lime Button--theme-s" href="#">
						<span class="Button__icon">
							<svg class="Button__icon-svg">
								<use class="Button__icon-svg-use" xlink:href="#location"></use>
							</svg>
						</span>
						<span class="Button__text">Узнать адрес</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>