.Radio-btn {
  display: flex;
  align-items: flex-start;

  &__content-label {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    grid-auto-rows: 24px;
    gap: 5px;
    width: 100%;
    margin-left: 15px;
  }
  &__title {
    flex: 1 1 16%;
  }
  p:not(:last-child) {
    margin-right: 5px;
  }

  input {
    display: none;

    &:checked ~ span {
      box-shadow: inset 2px 2px 2px rgba(52, 63, 91, 0.1);
      color: $white;
      background: $lime;
    }

    &:disabled ~ span {
      color: #bdc0cf;
      background: #eeeff7;
    }
  }

  label:not(:last-child) span {
    margin-right: 2px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eeeff7;
    border-radius: 6px;
    padding: 3px 8px;
    min-height: 24px;
    font-size: 12px;
    line-height: 14px;
    background: #fff;
    transition: $transition;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: $white;
      background: $lime;
    }
  }
}
.Radio-btn-default {
  position: relative;
  padding: 6px 5px;

  .Radio-btn-default__label {
    padding-left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .Radio-btn-default__text {
  }
  .Radio-btn-default__input {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    appearance: none;

    & + .Radio-btn-default__inner-text::before {
      width: 8px;
      height: 8px;
			left: 0.33rem;
      transform: translate(0, -50%);
    }

    & + .Radio-btn-default__inner-text::after {
      border: 1px solid;
      border-color: #d4d5d8 !important;
      width: 16px;
      height: 16px;
      left: 0;
      transform: translateY(-50%);
    }

    & + .Radio-btn-default__inner-text::before,
    & + .Radio-btn-default__inner-text::after {
      content: "";
      position: absolute;
      border-radius: 50px;
      top: 50%;
      flex: 0 0 auto;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      background-size: 0%;
      transition: 0.3s all;
    }

    &:checked + .Radio-btn-default__inner-text::before {
      background-size: 100%;
      background-color: $lime;
    }

    &:checked + .Radio-btn-default__inner-text::after {
      background-size: 100%;
      border-color: $lime !important;
    }

    &:disabled + .Radio-btn-default__inner-text::before,
    &:disabled + .Radio-btn-default__inner-text::after {
      border-color: #d4d4d4;
    }

    &:disabled + .Radio-btn-default__inner-text .Radio-btn-default__text {
      color: #d4d4d4;
    }
  }
  &:checked {
    background: #000;
  }
}
