.popup-non-standard-model {
  padding: 0;

  &--two {
    .popup-non-standard-model {
      &__body-left {
        flex: 1 1 75%;
      }
      &__block-img {
        flex: 1 1 100%;
        padding-top: 64%;
      }
      &__body-left-heading {
        width: 100%;
      }
      &__body-left-options {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-top: 30px;
        padding-right: 22px;
        .dropdown:not(:first-child) {
          margin-top: 8px;
        }
        .dropdown {
          width: max-content;
          &__button {
            @include adaptiv-value("width", 238, 150, 1);
          }
          &__title {
            text-align: end;
            width: 100px;
          }
          &__list {
            @include adaptiv-value("width", 238, 150, 1);
          }
        }
      }
      &__body-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
      }

      &__counter-title {
        text-align: right;
      }

      &__wrapper {
        max-width: 718px;
        min-height: 765px;
      }
    }
  }

  &__block-img {
    position: relative;
    padding-top: 95%;
    flex: 1 1 49%;
  }
  &__body {
    display: flex;
    margin-top: 38px;
  }
  &__body-left {
    flex: 1 1 50%;
    border-right: 1px solid $gray-border;
  }
  &__body-left-heading {
    margin-top: 10px;
    width: 134px;
    // display: inline-flex;
  }
  &__body-right {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__body-input-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 23px;
    .dropdown:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__body-input-properties {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 23px;
  }

  &__box-img-select-height {
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  &__counter {
    margin-top: 18px;
    display: flex;
    align-items: center;
    .Counter {
      &__content {
        width: 126px;
        height: 24px;
      }
      &__container {
        width: auto;
      }
    }
  }
  &__counter-title {
    flex: 1 1 50%;
    margin-right: 15px;
    color: $black;
  }
  &__counter-title-text {
  }
  &__footer {
    display: flex;
    margin-top: 42px;
  }
  &__footer-desc {
    display: flex;
    align-items: flex-start;
  }
  &__footer-btn {
    .Button {
      margin-left: 10px;
      width: 190px;
      height: 52px;
      &__text {
        font-size: 15px;
      }
    }
  }
  &__footer-desc-text {
    color: $black;
    font-size: 12px;
    line-height: 117%;
  }
  &__have-icon {
    margin-right: 5px;
  }
  &__have-icon-js {
  }
  &__header {
  }
  &__header-title {
  }
  &__header-title-text {
    @include adaptiv-value("font-size", 28, 18, 1);
    font-weight: 600;
    color: $black;
    line-height: 118%;
  }
  &__img {
  }
  &__link {
  }
  &__palette {
    display: flex;
    flex: 1 1 40%;
    align-items: flex-start;
    margin-top: 20px;
    width: 73%;
  }
  &__palette-title {
    color: $black;
  }
  &__palette-title-text {
  }
  &__select-height {
    flex: 1 1 45%;
    margin-left: 10px;
  }
  &__select-height-input {
    width: 82px;
  }
  &__select-height-input-text {
  }
  &__select-width {
  }
  &__select-width-input {
    width: 82px;
    height: 42px;
    padding: 10px;
  }
  &__select-width-input-text {
  }
  &__subtitle {
  }
  &__subtitle-text {
    color: $black;
  }
  &__title {
  }
  &__title-text {
  }
  &__wrapper {
    max-width: 582px;
    min-height: 563px;
    @include adaptiv-value("padding-top", 22, 10, 1);
    @include adaptiv-value("padding-bottom", 31, 10, 1);
    @include adaptiv-value("padding-left", 40, 10, 1);
    @include adaptiv-value("padding-right", 40, 10, 1);
  }

  .Palette {
    &__color-selection {
      margin-left: 15px;
      width: 100%;
    }
    &__list-color-selection {
      display: grid;
      grid-template-columns: repeat(auto-fill, 22px);
      grid-auto-rows: 22px;
      gap: 5px;
      width: 100%;
    }
  }
  .dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: auto;
    &__button {
      width: 132px;
			display: flex;
			align-items: center;
      &--active {
      }
    }
    &__heading {
      margin-right: 10px;
    }
    &__input-hidden {
    }
    &__list {
      width: 132px;
      right: 0;
      left: inherit;
      &--visible {
      }
    }
    &__list-item {
			display: flex;
			align-items: center;
    }
    &__title {
      margin-right: 10px;
      // width: 79px;
      width: 100%;
      color: $black;
      text-align-last: right;
    }
    &__title-text {
    }
    &__list {
      right: 0;
      top: 46px;
    }
    &__img {
      width: 22px;
      height: 22px;
			margin-right: 10px;
    }
  }
}
