<nav class="mg-navbar">
    <div class="mg-navbar__main">

        <div class="mg-navbar__burger">
            <div class="span-mg-block">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="mg-navbar__logo">
            <img src="../../../../../img/logo-mg.svg" alt="">
        </div>
        <div class="mg-navbar__screech">
            <img src="../../../../../img/screech-mg.svg" alt="">
        </div>
    </div>
    <div class="mg-navbar__navlinks">
        <ul class="mg-navlinks__list">
            <li class="mg-navlinks__li">
                <a href="" class="mg-navlinks__link">
                    <span class="mg-navlinks__icon">
                        <svg class="mg-buttons mg-navlinks__svg">
                            <use class="mg-buttons__map-use" xlink:href="#mg-home"></use>
                        </svg>
                    </span>
                    <span class="mg-navlinks__title">Главная</span>
                </a>
            </li>
            <li class="mg-navlinks__li">
                <a href="" class="mg-navlinks__link">
                    <span class="mg-navlinks__icon">
                        <svg class="mg-buttons  mg-navlinks__svg">
                            <use class="mg-buttons__map-use" xlink:href="#mg-case"></use>
                        </svg>
                    </span>
                    <span class="mg-navlinks__title">Карточка территории</span>
                </a>
            </li>
            <li class="mg-navlinks__li">
                <a href="" class="mg-navlinks__link mg-navlinks__link-counters">
                    <span class="mg-navlinks__icon">
                        <svg class="mg-buttons  mg-navlinks__svg">
                            <use class="mg-buttons__map-use" xlink:href="#mg_address-book"></use>
                        </svg>
                    </span>
                    <span class="mg-navlinks__title">
                        <span class="mg-navlinks__title-name">Клиенты</span>
                        <span class="mg-navlinks__title-count" data-counter>12</span>
                </a>
            </li>
            <li class="mg-navlinks__li">
                <a href="" class="mg-navlinks__link mg-navlinks__link-counters">
                    <span class="mg-navlinks__icon">
                        <svg class="mg-buttons mg-navlinks__svg">
                            <use class="mg-buttons__map-use" xlink:href="#mg_description"></use>
                        </svg>
                    </span>
                    <span class="mg-navlinks__title">
                        <span class="mg-navlinks__title-name">Заказы</span>
                        <span class="mg-navlinks__title-count" data-counter>12</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="mg-navbar__frames">
        <ul>
            <li>
                <a href="" class="mg-frames__link">
                    <span class="mg-frames__icon">
                        <img src="../../../../../img/manager-account/Frame01.jpg" alt="">
                    </span>
                    <span class="mg-frames__name">Tandoor</span>
                </a>
            </li>
            <li>
                <a href="" class="mg-frames__link">
                    <span class="mg-frames__icon">
                        <img src="../../../../../img/manager-account/Frame02.jpg" alt="">
                    </span>
                    <span class="mg-frames__name">Битрикс 24</span>
                </a>
            </li>
            <!-- <li>
                <a href="" class="mg-navlinks__link">
                    <span class="mg-navlinks__icon">
                        <img src="../../../../../img/manager-account/Frame03.jpg" alt="">
                    </span>
                    <span>1C</span>
                    <span>counter</span>
            </a>
            </li> -->
        </ul>
    </div>
</nav>