.mg-navbar{
        position: fixed;
				z-index: 1000;
        width: 60px;
				height: 100%;
        left: 0;
        top: 0;
        display: block;
        background-color: white;
        overflow: hidden;
        animation: ease 0.5s mg-width forwards;
      
    &-wrapper{
        

        
    }
    &__main{
        display: flex;
        padding: 29px 24px;
        align-items: center;
        // justify-content: space-between;
    }
    &__burger{
        position: relative;
        min-width: 18px;
        height: 18px;
        z-index: 1000;
        cursor: pointer;

        & span{
            position: absolute;  
            // box-shadow:0 2px 10px #000;
            width: 12.38px;
            height: 1.13px;
            display: inline-block;
            background-color: $gray;
           
            &:nth-child(1) {
                // top: 0px;
                animation: ease 0.5s top-back forwards;
            }
            &:nth-child(2) {
                // top: 5px;
                animation: ease 0.5s middle-back forwards;
            }
            &:nth-child(3) {
                // top: 10px;
                animation: ease 0.5s bottom-back forwards;
            } 
        }
       
    }

    &__logo{
        padding-left: 26px;
        transition: $transition-mg;
        opacity: 0;
        
    }
    &__screech{
        opacity: 0;
        padding-left:25px;
        transition: $transition-mg;
    }
    &__frames{
        position: absolute;
        bottom: 0;
        padding-bottom: 20px;
    }

}

.span-mg-block{
    position: absolute;
    top: 50%;
    // left: 50%;
    transform: translate(-50%, -50%);
}

.mg-navlinks{
    &__li{
        position: relative;
        padding: 20px 0px 20px 21px;
        &::after{
            position: absolute;
            content: "";
            display: block;
            width: 4px;
            height: 60px;
            background-color:white;
            right: 0;
            top: 0;
            transition:all 0.3s ease;
        }
        &:hover{
           // border-right: 4px solid $lime;
            .mg-navlinks__svg{
                fill: $lime;
            }
            &::after{
                background-color:$lime;
            }
        }
    }
    &__link{
        display: flex;
        white-space: nowrap;
        position: relative;
        &-counters{
            &::after{
                position: absolute;
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                background-color: #9aca3c;
                right: 6px;
                top: 6px;
                border-radius: 50%;
               
            }
        }
    }
    &__icon{
        margin-right: 10px;
    }
    &__svg{
        width: 15.75px;
        height: 16.75px;
        fill:#8F96B0;
    }
    &__title{
        opacity: 0;
        display: flex;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-right: 20px;
        transition: $transition-mg;
        &-name{}
        &-count{
            width: 22px;
            height: 20px;
            background-color: #9ACA3C;
            /* padding-left: 10px; */
            color: white;
            margin-left: 10px;
            display: flex;
            text-align: center;
            /* margin: 0 auto; */
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            font-size: 12px;
        }
    }
}

/* mg-frames */
.mg-frames{
    &__link{
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
    &__icon{
        display: flex;
        width: 40px;
        height: 40px;
        margin: 10px;
        border: 1px solid;
        border-radius: 50%;
        overflow: hidden;
        & img{
            width:100%;
        }
    }
    &__name{
        opacity: 0;
        transition: $transition-mg;
    }
    
}

/* active menu */
.nav-mg-active{
    .mg-navbar__burger{
        
        & span{
            //    position: absolute;
               
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
        }
    
            span:nth-child(1){
                animation: ease 0.5s top forwards;
            }
            span:nth-child(2){
                animation: ease 0.5s middle forwards;
            }
            span:nth-child(3){
                animation: ease 0.5s bottom forwards;
            }
        
    }
    .mg-navbar{
        width:10%;
        animation: ease 0.5s mg-width-back forwards;
        .mg-navlinks__link-counters{
            &::after{
                content: none;
            }
        }

        &__logo, &__screech {
            opacity:1;
        }
    }

    .mg-navlinks__title,
    .mg-frames__name{
        opacity:1;
    }
}




/* keyframes  */

@keyframes mg-width{
    0%{
        width: 300px;
    }
    100%{
        width: 60px;
    }
}
@keyframes mg-width-back{
    0%{
        width: 60px;
    }
    100%{
      
        width: 300px;
       
    }

}

$top: 3.94px;

@keyframes top{
    0%{
        top:$top;
        transform: rotate(0);
    }
    50%{
        top:$top;
        transform:  rotate(0);
       
    }
    100%{
        top:-1px;
        transform:  rotate(45deg);
    }

}

@keyframes top-back{
    0%{
        top:0;
        transform:  rotate(45deg) 
    }
    50%{
        top:$top;
        transform:  rotate(0)
        
    }
    100%{
        top:$top;
        transform:  rotate(0)
        
    }

}

/* middle */

@keyframes middle{
    0%{
        transform: scale(1);
         
    }
    50%{
        transform: scale(0);
       
    }
    100%{
        transform: scale(0);
        
    }

}

@keyframes middle-back{
    0%{
        transform: scale(0);
        
  
    }
    50%{
        transform: scale(0);
        
    }
    100%{
        top:-0.5px;
        transform: scale(1);
        
    }

}


@keyframes bottom{
    0%{
        bottom:$top;
        transform: rotate(0);
    }
    50%{
        bottom:$top;
        transform:  rotate(0);
       
    }
    100%{
        bottom:0;
        transform:  rotate(-45deg);
    }

}

@keyframes bottom-back{
   
    0%{
        bottom:0;
        transform:  rotate(-45deg) 
    }
    50%{
        bottom:$top;
        transform:  rotate(0)
        
    }
    100%{
        bottom:$top;
        transform:  rotate(0)
        
    }

}
