.Input {
  position: relative;
  display: inline-block;

  &:not(:first-child) {
    margin-top: 15px;
  }

  &--hidden-content {
    .Input {
      &__block-inp {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include adaptiv-value("width", 297, 220, 1);
        @include adaptiv-value("min-height", 47, 42, 1);

        position: relative;
        outline: none;
        border: 1px solid #e3e6f3;
        border-radius: 3.3px;
        padding: 11px;
        margin-left: 20px;
        background: $white;
      }

      &__block-icon {
        display: flex;
        align-items: center;
      }

      &__icon {
        width: 18px;
        height: 18px;
      }
    }

    input {
      height: 100%;
      width: 90%;
      border: none;
      outline: none;
      font-size: 16px;
      line-height: 21px;
      color: $black;

      &::placeholder {
        font-size: 16px;
        line-height: 19px;
        color: #bdc0cf;
      }

      &:focus::placeholder {
        opacity: 0;
        transform: $transition;
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    text-align: end;
    color: #000;
    cursor: pointer;
  }

  &__inp {
    @include adaptiv-value("width", 297, 220, 1);
    @include adaptiv-value("min-height", 47, 42, 1);

    position: relative;
    outline: none;
    border: 1px solid #e3e6f3;
    border-radius: 3.3px;
    padding: 11px;
    font-size: 16px;
    line-height: 21px;
    color: $black;
    background: $white;

    &::placeholder {
      font-size: 16px;
      line-height: 19px;
      color: #bdc0cf;
    }

    &:focus::placeholder {
      opacity: 0;
      transform: $transition;
    }
  }

  &__placeholder {
    @include adaptiv-font(17.6, 16);

    position: absolute;
    left: 22%;
    top: 50%;
    line-height: 21px;
    color: #bdc0cf;
    transform: translateY(-50%);
    transition: 0.3s all;
    user-select: none;
  }

  &__placeholder--star-active {
    @include adaptiv-font(12.6, 9);

    top: -6px;
    color: $gray;
  }

  &__inp:required + &__placeholder--star::after {
    content: "*";
    color: $red;
  }

  // &__inp:focus + &__placeholder--star {
  //   top: -5%;
  //   @include adaptiv-font(12.6, 9);
  //   color: $darkGray;
  //   // visibility: hidden;
  //   // opacity: 0;
  // }
}

.fio {
  // margin: 10px;
  display: block;
}
