.nav-orders {
  margin-top: 20px;
  margin-bottom: 50px;
  &__bottom {
    margin-top: 20px;
  }
  &__date {
    display: flex;
    .dropdown {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  &__select {
    display: flex;
    margin-right: 10px;
    .dropdown {
      width: 210px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  // &__tabs {
  //   .Tabs {
  //     &__btns {
  //       .Tabs {
  //         &__item {
  //           // background: transparent;

	// 					&--active {
	// 						background: transparent;
	// 						color: red;
	// 						border-bottom: 10px solid black;
	// 					}
  //         }
  //       }
  //       .Button {
  //       }
  //     }
  //   }
  // }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top-left {
    display: flex;
    flex: 1 1;
    margin-right: 40px;
  }
  &__top-right {
    display: flex;
    flex: 1 1;

    .Search {
      margin-right: 20px;
      flex: 1 1;
    }
  }
  &__top-right-btns {
    .Button {
      &:not(:last-child) {
        margin-right: 10px;
      }
      &--theme-s-n {
        width: 44px;
      }
    }
  }
  &__wrapper {
    padding: 15px 25px;
    border: 1px solid red;
  }
}
