.nav-orders {
  margin-top: 20px;
  margin-bottom: 50px;
}

.nav-orders__bottom {
  margin-top: 20px;
}

.nav-orders__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-orders__date .dropdown:not(:last-child) {
  margin-right: 10px;
}

.nav-orders__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.nav-orders__select .dropdown {
  width: 210px;
}

.nav-orders__select .dropdown:not(:last-child) {
  margin-right: 10px;
}

.nav-orders__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-orders__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin-right: 40px;
}

.nav-orders__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.nav-orders__top-right .Search {
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.nav-orders__top-right-btns .Button:not(:last-child) {
  margin-right: 10px;
}

.nav-orders__top-right-btns .Button--theme-s-n {
  width: 44px;
}

.nav-orders__wrapper {
  padding: 15px 25px;
  border: 1px solid red;
}
/*# sourceMappingURL=nav-orders.css.map */