.popup-preloader {
	padding: 30px 22px 22px 22px;
	width: 265px;
	min-height: 160px;
  &__loading {

		position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;

    $count: 10;
    $time: 1.6; //in seconds
    $size: 60;
    $color: $lime;

    .preloader {
      /* size */
      width: $size + px;
      height: $size + px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      animation: rotatePreloader $time + s infinite ease-in;
    }
    @keyframes rotatePreloader {
      0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
      }
      100% {
        transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
      }
    }
    .preloader div {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    .preloader div:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0%;
      width: 10%;
      height: 10%;
      background-color: $color;
      transform: translateX(-50%);
      border-radius: 50%;
    }

    @for $i from 1 through $count {
      .preloader div:nth-child(#{$i}) {
        transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
        animation: rotateCircle + $i $time + s infinite linear;
        z-index: $count - $i;
      }
      @keyframes rotateCircle#{$i} {
        #{percentage(((50 / $count) * ($i - 1)) / 100)} {
          opacity: 0;
        }
        #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
          opacity: 1;
          transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
        }
        #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
          transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
          transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        100% {
          transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
          opacity: 1;
        }
      }
    }
  }
	&__heading {
		margin-top: 15px;
	}
  &__title-text,
	&__subtitle-text {
		text-align: center;
		color: $black;
  }
  &__wrapper {
  }
	.fancybox-close-small {
		display: none;
	}
}