<div class="timetable">
    <div class="timetable__container parent-click">
        <div class="timetable__block">
            <a href="javascript:void(0);" class="timetable__inner">
                <span class="timetable__title">Расписание</span>
                <span class="mg-drop-down">
                    <svg class="mg-buttons mg-buttons__bottom-svg">
                         <use class="mg-buttons__bottom-use" xlink:href="#arrow-right"></use>
                    </svg>
               </span>
            </a>
            <div class="timetable__item child-click" style="display: none;">
                <div class="working-days">
                    <div class="working-days__header mg-colors--gray timetable--display--flex">
                        <div class="working-days__headlines">
                            <span class="working-days__title" style="display: none">empty</span>
                        </div>
                        <div class="working-days__headlines">
                            <span class="working-days__title">Рабочие часы</span>
                        </div>
                        <div class="working-days__headlines">
                            <span class="working-days__title">Перерыв</span>
                        </div>
                    </div>
                    <div class="working-days__body">
                        <div class="working-days__body-container timetable--display--flex">
                            <div class="working-days__subtitle">
                                <span class="working-days__title">ПН</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">08:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">18:00</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">12:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">13:00</span>
                            </div>
                        </div>
                        <div class="working-days__body-container timetable--display--flex">
                            <div class="working-days__subtitle">
                                <span class="working-days__title">ВТ</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">08:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">18:00</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">12:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">13:00</span>
                            </div>
                        </div>
                        <div class="working-days__body-container timetable--display--flex">
                            <div class="working-days__subtitle">
                                <span class="working-days__title">СР</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">08:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">18:00</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">12:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">13:00</span>
                            </div>
                        </div>
                        <div class="working-days__body-container timetable--display--flex">
                            <div class="working-days__subtitle">
                                <span class="working-days__title">ЧТ</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">08:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">18:00</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">12:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">13:00</span>
                            </div>
                        </div>
                        <div class="working-days__body-container timetable--display--flex">
                            <div class="working-days__subtitle">
                                <span class="working-days__title">ПТ</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">08:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">18:00</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">12:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">13:00</span>
                            </div>
                        </div>
                        <div class="working-days__body-container timetable--display--flex">
                            <div class="working-days__subtitle">
                                <span class="working-days__title">СБ</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">08:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">18:00</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title">12:00</span>
                                <span class="working-days__title">&nbsp;&mdash;&nbsp;</span>
                                <span class="working-days__title">13:00</span>
                            </div>
                        </div>
                        <div class="working-days__body-container timetable--display--flex">
                            <div class="working-days__subtitle">
                                <span class="working-days__title">ВС</span>
                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title mg-colors--gray">Выходной</span>

                            </div>
                            <div class="working-days__subtitle">
                                <span class="working-days__title mg-colors--gray">Выходной</span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>