.mg-status{
    &__title{}
    &__container{}
    &__block{
        display: flex;
    }
    &__description{
        width:68%;
    }
    &__item{
        &:not(:first-child){
            padding-top: rem(48);
        }
    }
    &__info{
        width:32%;
        @include adaptiv-value(padding-left, 40, 15, 1);
    }
    /* child classes */
    &-description{
        &__header{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: rem(5) rem(32);
            word-break: break-all;  
            & span{
                &:not(:first-child){
                    margin-left: rem(10);
                }
            }
        }
        &__body{
            &:nth-child(2){
                padding-top: 7px;
            }
            &:not(:nth-child(2)){
                padding-top: rem(20);
            }
        }
        &__child{
            display: block;
            margin-top: rem(5);
            background: #F9FAFF;
            border-radius: rem(8);
            .toggle-rotate{
                .mg-buttons{
                    transform: rotate(90deg);
                }
            }
        }
        &__link{
            display: flex;
            align-items: center;
            min-height: rem(44);
            & span{
                margin-left: 5px;
                
            }
            .mg-buttons{
                transform: rotate(0deg);
            }
           
        }
        &__list{
            display:none;
            border-top: 1px solid $gray-border;
            padding-top: rem(14);
            padding-bottom: rem(23);
            @include adaptiv-value(padding-left, 34, 14, 1);
            // padding-left: rem(34);
        }
        &__li{
            &:not(:first-child){
                padding-top: 12px;
            }
        }
        &__group{
            & span:nth-child(2){
                padding-left: rem(5);
            }
        }
    }
    &-info{
        &__item{
            display: flex;
            flex-direction: column;
            @include adaptiv-value(line-height, 19, 12, 1);
            &:not(:first-child){
                padding-top: rem(30);
            }
        }
        &__type{}
        &__payment{}
        &__products{}
        &__waiting{
            &-count{
                display: flex;
                width: 100%;
                &>span:nth-child(1){
                    width:20%;
                    display: flex;
                }
                &>span:nth-child(2){
                    width:80%;
                    display: flex;
                    &>span:nth-child(2){
                        margin-left: 7px;
                    }
                }
            }
        }
        &__total{}
        &__commet{}
        &__note{}
    }
}

/* mg-status Theme */
.mg-status{
    &--theme{
        &--color{
        
        }
        &--padding{
            padding: rem(40);
        }
        &--bg{
            &-status{
                background: #EEEFF7;
                border-radius: rem(8);
            }
            &-items{

            }
        }
    }
}

/* mg-no-standard */
.mg-no-standard{
    &__container{
        
    }
    &__item{
        
    }
    .mg-no-standard__item.mg-status__info{
        @include adaptiv-value(padding-left, 29, 15, 1);
    }
    &__title{}
    &__block{
        .mg-status-description__link{
           @include adaptiv-value(margin-left, 29, 10, 1)
        }
    }

    &__aside-buttons{
        padding-top: rem(40);
        & div{
            &:not(:first-child){
                margin-top: rem(15);
            }
        }
    }
    &__button{
       & span{
        &:nth-child(1){
            display: flex;
            align-items: center;
            @include adaptiv-value(font-size, 18, 12, 1);
            @include adaptiv-value(line-height, 22, 14, 1);
        }
        &:nth-child(2){
            width: 100%;
            margin-left: rem(11);
            text-align: center;
        }
       }
        &-first{}
        &-second{}
        &-third{}
    }


}



