<div class="Product-description">
	<div class="Product-description__wrapper">
		<div class="Product-description__head">
			<div class="Product-description__content-head-badges">
				<div class="Product-description__heading">
					<div class="Product-description__title Title">
						<div class="Title__wrapper--theme-m Title__wrapper--quartz">
							<h2>Барроко</h2>
						</div>
					</div>
					<div class="Product-description__subtitle">
						<span class="Product-description__subtitle-text">Миланский орех</span>
						<span class="Product-description__subtitle-text">Ламинированные двери</span>
					</div>
				</div>
				<div class="Product-description__badges-right">

					<span class="Icon Icon--gray Icon--theme-m Icon-like-js">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#like"></use>
							</svg>
						</div>
					</span>
					<span class="Icon Icon--gray Icon--theme-m Icon-scales-js">
						<div class="Icon__content">
							<svg class="Icon__svg">
								<use class="Icon__svg-use" xlink:href="#scales"></use>
							</svg>
						</div>
					</span>




				</div>
			</div>
			<div class="Product-description__price">

				<ul class="Product-description__list-price">

					<li class="Product-description__item-price">
						<div class="Product-description__item-price-title">
							<span class="Product-description__item-price-title-text">
								Розничная цена
							</span>
						</div>

						<div class="Product-description__block-item-price-value">
							<span class="Product-description__item-price-value"> 1 145 ₽ </span>
							<span class="Product-description__item-price-value-old"> 18 818₽ </span>
						</div>
					</li>

					<li class="Product-description__item-price">
						<div class="Product-description__item-price-title">
							<span class="Product-description__item-price-title-text">
								Розничная цена
							</span>
						</div>
						<div class="Product-description__item-other">
							<span class="Product-description__item-other-text">Ваша выгода</span>
							<span class="Product-description__item-other-decor">-25%</span>
						</div>
						<div class="Product-description__block-item-price-value">
							<span class="Product-description__item-price-value"> 1 145 ₽ </span>
							<span class="Product-description__item-price-value-old"> 18 818₽ </span>
						</div>
					</li>

					<li class="Product-description__item-price Product-description__item-price--lime">
						<div class="Product-description__item-price-title">
							<span class="Product-description__item-price-title-text">
								Акционная цена
							</span>
						</div>
						<div class="Product-description__item-other">
							<span class="Product-description__item-other-text">Ваша выгода</span>
							<span class="Product-description__item-other-decor">-25%</span>
						</div>
						<div class="Product-description__block-item-price-value">
							<span class="Product-description__item-price-value"> 1 145 ₽ </span>
							<span class="Product-description__item-price-value-old"> 18 818₽ </span>
						</div>
					</li>

				</ul>

			</div>
		</div>
		<div class="Product-description__body">
			<div class="Product-description__block-specification">
				<form action="" class="Product-description__form-specification">
					<div class="Product-description__type-specification Radio-btn">
						<div class="Radio-btn__title">
							<p class="Product-description__type-specification-text">Тип</p>
						</div>

						<div class="Radio-btn__content-label">
							<label><input type="radio" name="type" value="" checked=""> <span>ДГ</span></label>
							<label><input type="radio" name="type" value="" disabled=""> <span>ДЧ</span> </label>
							<label><input type="radio" name="type" value=""> <span>ДО</span> </label>
							<label><input type="radio" name="type" value="" checked=""> <span>ДГ</span></label>
							<label><input type="radio" name="type" value="" disabled=""> <span>ДЧ</span> </label>
							<label><input type="radio" name="type" value=""> <span>ДО</span> </label>
							<label><input type="radio" name="type" value="" checked=""> <span>ДГ</span></label>
							<label><input type="radio" name="type" value="" disabled=""> <span>ДЧ</span> </label>
							<label><input type="radio" name="type" value=""> <span>ДО</span> </label>
							<label><input type="radio" name="type" value="" checked=""> <span>ДГ</span></label>
							<label><input type="radio" name="type" value="" disabled=""> <span>ДЧ</span> </label>
							<label><input type="radio" name="type" value=""> <span>ДО</span> </label>
						</div>

					</div>
					<div class="Product-description__size-specification Radio-btn">

						<div class="Radio-btn__title">
							<p class="Product-description__size-specification-text">Размер</p>
						</div>

						<div class="Radio-btn__content-label">
							<label>
								<input type="radio" name="size" value="">
								<span>40</span>
							</label>
							<label>
								<input type="radio" name="size" value="" checked>
								<span>60</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>70</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>80</span>
							</label>
							<label>
								<input type="radio" name="size" value="" disabled>
								<span>90</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>40</span>
							</label>
							<label>
								<input type="radio" name="size" value="" checked>
								<span>60</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>70</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>80</span>
							</label>
							<label>
								<input type="radio" name="size" value="" disabled>
								<span>90</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>40</span>
							</label>
							<label>
								<input type="radio" name="size" value="" checked>
								<span>60</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>70</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>80</span>
							</label>
							<label>
								<input type="radio" name="size" value="" disabled>
								<span>90</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>40</span>
							</label>
							<label>
								<input type="radio" name="size" value="" checked>
								<span>60</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>70</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>80</span>
							</label>
							<label>
								<input type="radio" name="size" value="" disabled>
								<span>90</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>40</span>
							</label>
							<label>
								<input type="radio" name="size" value="" checked>
								<span>60</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>70</span>
							</label>
							<label>
								<input type="radio" name="size" value="">
								<span>80</span>
							</label>
							<label>
								<input type="radio" name="size" value="" disabled>
								<span>90</span>
							</label>
						</div>

					</div>
				</form>
			</div>
			<div class="Product-description__content-palette-counter">
				<div class="Product-description__palette Palette">
					<div class="Product-description__palette-title Palette__title">
						<span class="Product-description__palette-title-text Palette__title-text">Цвет</span>
					</div>
					<div class="Palette__color-selection">
						<ul class="Palette__list-color-selection">
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/blue.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/orange.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/orange.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/blue.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/blue.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/blue.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/blue.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/blue.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/blue.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/blue.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/blue.jpg" alt="blue">
								</a>
							</li>
							<li class="Palette__item-color-selection Palette__item-color-selection-js Palette__item-color-selection--color">
								<a class="Palette__btn-color-selection" href="#"> <img class="Palette__btn-color-selection-img"
										src="img/blue.jpg" alt="blue">
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="Product-description__counter Counter">

					<div class="Product-description__counter-title Counter__title">
						<span class="Product-description__counter-title-text Counter__title-text">Количество</span>
					</div>

					<div class="Counter__container">
						<div class="Counter__content">
							<button class="Counter__button Counter__button--js-reduction" data-decrement="">
								<svg class="Counter__svg">
									<use xlink:href="#arrow-left" class="Counter__use"></use>
								</svg>
							</button>
							<div class="Counter__block-input">
								<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
								<span class="Counter__dimension"> / 10 в наличии</span>
							</div>
							<button class="Counter__button Counter__button--js-increase" data-increment="">
								<svg class="Counter__svg">
									<use xlink:href="#arrow-right" class="Counter__use"></use>
								</svg>
							</button>
						</div>
						<div class="Counter__content">
							<button class="Counter__button Counter__button--js-reduction" data-decrement="">
								<svg class="Counter__svg">
									<use xlink:href="#arrow-left" class="Counter__use"></use>
								</svg>
							</button>
							<div class="Counter__block-input">
								<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
								<span class="Counter__dimension"> / 10 в наличии</span>
							</div>
							<button class="Counter__button Counter__button--js-increase" data-increment="">
								<svg class="Counter__svg">
									<use xlink:href="#arrow-right" class="Counter__use"></use>
								</svg>
							</button>
						</div>
						<div class="Counter__content">
							<button class="Counter__button Counter__button--js-reduction" data-decrement="">
								<svg class="Counter__svg">
									<use xlink:href="#arrow-left" class="Counter__use"></use>
								</svg>
							</button>
							<div class="Counter__block-input">
								<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
								<span class="Counter__dimension"> / 10 в наличии</span>
							</div>
							<button class="Counter__button Counter__button--js-increase" data-increment="">
								<svg class="Counter__svg">
									<use xlink:href="#arrow-right" class="Counter__use"></use>
								</svg>
							</button>
						</div>
					</div>


				</div>
			</div>
			<div class="Product-description__content-receipt-date-ordered">
				<div class="Product-description__receipt-date">
					<span class="Product-description__receipt-date-text">Дата поступления</span>
					<span class="Product-description__receipt-date-text-decor">Уточняйте у менеджера</span>
				</div>
				<div class="Product-description__ordered">
					<span class="Product-description__ordered-text">Заказано</span>
					<span class="Product-description__ordered-text-value">10 шт.</span>
				</div>
			</div>
		</div>
		<div class="Product-description__footer">
			<div class="Product-description__pick-molding">

				<button class="Button Button--gray Button--theme-xxl Product-description__btn--js" href="#">
					<span class="Button__text">Подобрать погонаж</span>
					<span class="Button__icon-right">
						<svg class="Button__icon-svg-right">
							<use class="Button__icon-svg-use" xlink:href="#up"></use>
						</svg>
					</span>
				</button>

				<div class="Product-description__molding-select">
					<div class="Product-description__molding-select-title">
						<h3 class="Product-description__molding-select-title-text">Классический погонаж</h3>
					</div>
					<ul class="Product-description__molding-list">
						<li class="Product-description__molding-item">
							<div class="Product-description__molding-item-name Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Добор 150х8х2070</span>
									</span>
								</label>
							</div>
							<div class="Product-description__molding-item-content-price-counter">
								<div class="Product-description__molding-item-price">
									<span class="Product-description__molding-item-price-text-none">0 ₽</span>
								</div>
								<div class="Counter">
									<div class="Counter__content">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="0" min="0" max="0" step="1">
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</li>
						<li class="Product-description__molding-item">
							<div class="Product-description__molding-item-name Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Добор 100х8х2070</span>
									</span>
								</label>
							</div>
							<div class="Product-description__molding-item-content-price-counter">
								<div class="Product-description__molding-item-price">
									<span class="Product-description__molding-item-price-text">1 535 ₽</span>
								</div>
								<div class="Counter">
									<div class="Counter__content">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</li>
						<li class="Product-description__molding-item">
							<div class="Product-description__molding-item-name Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Добор 100х8х2070</span>
									</span>
								</label>
							</div>
							<div class="Product-description__molding-item-content-price-counter">
								<div class="Product-description__molding-item-price">
									<span class="Product-description__molding-item-price-text">1 535 ₽</span>
								</div>
								<div class="Counter">
									<div class="Counter__content">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</li>
						<li class="Product-description__molding-item">
							<div class="Product-description__molding-item-name Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Добор 100х8х2070</span>
									</span>
								</label>
							</div>
							<div class="Product-description__molding-item-content-price-counter">
								<div class="Product-description__molding-item-price">
									<span class="Product-description__molding-item-price-text">1 535 ₽</span>
								</div>
								<div class="Counter">
									<div class="Counter__content">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</li>
						<li class="Product-description__molding-item">
							<div class="Product-description__molding-item-name Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Добор 100х8х2070</span>
									</span>
								</label>
							</div>
							<div class="Product-description__molding-item-content-price-counter">
								<div class="Product-description__molding-item-price">
									<span class="Product-description__molding-item-price-text">1 535 ₽</span>
								</div>
								<div class="Counter">
									<div class="Counter__content">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</li>
						<li class="Product-description__molding-item">
							<div class="Product-description__molding-item-name Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Добор 100х8х2070</span>
									</span>
								</label>
							</div>
							<div class="Product-description__molding-item-content-price-counter">
								<div class="Product-description__molding-item-price">
									<span class="Product-description__molding-item-price-text">1 535 ₽</span>
								</div>
								<div class="Counter">
									<div class="Counter__content">
										<button class="Counter__button Counter__button--js-reduction" data-decrement="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-left" class="Counter__use"></use>
											</svg>
										</button>
										<div class="Counter__block-input">
											<input class="Counter__input Counter__input--js" type="text" value="1" min="1" max="99" step="1">
										</div>
										<button class="Counter__button Counter__button--js-increase" data-increment="">
											<svg class="Counter__svg">
												<use xlink:href="#arrow-right" class="Counter__use"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</li>

					</ul>

					<div class="Product-description__molding-info">
						<div class="Product-description__molding-info-icon">
							<a class="Icon Icon--lime Icon--theme-m" href="#">
								<div class="Icon__content">
									<svg class="Icon__svg">
										<use class="Icon__svg-use" xlink:href="#information-have"></use>
									</svg>
								</div>
							</a>
						</div>
						<div class="Product-description__molding-info-desc">
							<span class="Product-description__molding-info-desc-text">
								Если вы затрудняетесь подобрать необходимый вам погонаж?
							</span>
							<span class="Product-description__molding-info-desc-text">
								Наши менеджеры обязательно помогут вам сделать правильный выбор
							</span>
						</div>
					</div>

				</div>
				<a ></a>
			</div>
			<div class="Product-description__footer-btns">
				<a class="Button Button--lime-light Button--theme-m Button--theme-m-w" href="#popup-selection-master-one" data-fancybox-window="">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#click"></use>
						</svg>
					</span>
					<span class="Button__text">Купить в 1 клик</span>
				</a>
				<a class="Button Button--lime-light Button--theme-m Button--theme-m-w" href="#popup-interior-door" data-fancybox-window="" >
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#basket"></use>
						</svg>
					</span>
					<span class="Button__text">В корзину</span>
				</a>
				<a class="Button Button--lime-light Button--theme-m Button--theme-m-w" href="#">
					<span class="Button__icon">
						<svg class="Button__icon-svg">
							<use class="Button__icon-svg-use" xlink:href="#whatsapp"></use>
						</svg>
					</span>
					<span class="Button__text">WhatsApp</span>
				</a>
			</div>

		</div>
	</div>
</div>