.Checkbox {
  position: relative;

  &--default {
    .Checkbox__label {
      padding-left: 28px;
      cursor: pointer;
    }

    .Checkbox__input {
      position: absolute;
      left: 16px;
      top: 16px;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      appearance: none;

      & ~ .Checkbox__inner-text::before {
        content: "";
        left: 0;
        position: absolute;
        border-radius: 2px;
        top: 50%;
        transform: translateY(-50%);
        flex: 0 0 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border: 1px solid;
        border-color: $gray-border;
        user-select: none;
				background-image: url("/img/filter-icon-1.svg") !important;
        background: $white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 0%;
        transition: 0.1s all;
      }

      &:checked ~ .Checkbox__inner-text::before {
        background-color: $lime;
        background-size: 100%;
        border-color: $lime;
      }
      &:checked ~ .Checkbox__inner-text::before {
        background-color: $lime;
        background-size: 100%;
        border-color: $lime;
      }

      &:disabled ~ .Checkbox__inner-text::before {
        border-color: $gray-border;
        background-color: $gray-border;
        background-size: 100%;
      }

      &:disabled ~ .Checkbox__inner-text .Checkbox__text {
        color: $gray;
      }
    }
  }

  &--custom-default {
    .Checkbox__label {
      padding-left: 30px;
      cursor: pointer;
    }

    .Checkbox__input {
      position: absolute;
      left: 16px;
      top: 16px;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      appearance: none;

      & + .Checkbox__inner-text::before {
        width: 12px;
        height: 12px;
        left: 5px;
        transform: translate(0, -50%);
      }

      & + .Checkbox__inner-text::after {
        border: 1px solid;
        border-color: #d4d5d8 !important;
        width: 20px;
        height: 20px;
        left: 0;
        transform: translateY(-50%);
      }

      & + .Checkbox__inner-text::before,
      & + .Checkbox__inner-text::after {
        content: "";
        position: absolute;
        border-radius: 50px;
        top: 50%;
        flex: 0 0 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        background-size: 0%;
        transition: 0.3s all;
      }

      &:checked + .Checkbox__inner-text::before {
        background-size: 100%;
        background-color: #43aa8b;
      }

      &:checked + .Checkbox__inner-text::after {
        background-size: 100%;
        border-color: #43aa8b !important;
      }

      &:disabled + .Checkbox__inner-text::before,
      &:disabled + .Checkbox__inner-text::after {
        border-color: #d4d4d4;
      }

      &:disabled + .Checkbox__inner-text .Checkbox__text {
        color: #d4d4d4;
      }
    }
  }

  &--custom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Checkbox__block-custom-input {
      position: relative;
      width: 40px;
      height: 20px;
      margin-left: 10px;
    }

    .Checkbox__input {
      position: absolute;
      right: 16px;
      top: 16px;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      appearance: none;

      & + .Checkbox__block-custom-input .Checkbox__custom-input::before,
      & + .Checkbox__block-custom-input .Checkbox__custom-input::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        flex: 0 0 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        transition: 0.3s all;
      }

      & + .Checkbox__block-custom-input .Checkbox__custom-input::before {
        right: 0;
        border-radius: 15px;
        width: 40px;
        height: 20px;
        background-color: #c4c4c4;
      }

      & + .Checkbox__block-custom-input .Checkbox__custom-input::after {
        transform: translate(24px, -50%);
        border-radius: 50px;
        width: 12px;
        height: 12px;
        background-color: $white;
      }

      &:checked
        + .Checkbox__block-custom-input
        .Checkbox__custom-input::before {
        background-color: #43aa8b;
      }

      &:checked + .Checkbox__block-custom-input .Checkbox__custom-input::after {
        transform: translate(4px, -50%);
      }

      &:disabled
        + .Checkbox__block-custom-input
        .Checkbox__custom-input::before {
        background-color: #d4d4d4;
      }

      &:not(:disabled)
        + .Checkbox__block-custom-input
        .Checkbox__custom-input::before {
        cursor: pointer;
      }

      &:not(:disabled)
        + .Checkbox__block-custom-input
        .Checkbox__custom-input::after {
        cursor: pointer;
      }

      // &:disabled + .Checkbox__inner-text .Checkbox__text {
      //   color: #d4d4d4;
      // }
    }
  }

  &__inner-text {
  }

  &__text {
  }
}
