<div class="Tabs Tabs--line">

	<div class="Tabs__wrapper">


		<div class="Tabs__btns">

			<div class="Tabs__links">
				<div class="Tabs__wrapper-links">
					<nav class="Tabs__nav">
						<ul class="Tabs__nav-list">
							<li class="Tabs__nav-item Tabs__item Tabs__item--active" data-identification-tab="1"
								data-index-tab="1">
								<a href="#status-products__list-item-interior"
									class="Tabs__link Link Link--black-decor">Мои заказы</a>
							</li>
							<li class="Tabs__nav-item Tabs__item" data-identification-tab="1" data-index-tab="2">
								<a href="#status-products__list-item-entrance"
									class="Tabs__link Link Link--black-decor">Заявки
									нестандарт</a>
							</li>
							<li class="Tabs__nav-item Tabs__item" data-identification-tab="1" data-index-tab="3">
								<a href="#status-products__list-item-fittings"
									class="Tabs__link Link Link--black-decor">Информационный
									счет</a>
							</li>
						</ul>
					</nav>
				</div>

			</div>

		</div>

		<div class="Tabs__blocks">
			@include('../mg-orders/mg-orders.html')
			<!-- <div class="Tabs__block Tabs__block--active" data-identification-tab="1" data-index-tab="1">
				<div class="swiper-container section-products__swiper-container">
					<div class="swiper-wrapper section-products__wrapper">


						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>


					</div>

					<div class="Swiper-button-next-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>

					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>


				</div>
			</div>

			<div class="Tabs__block Tabs__block--not-active" data-identification-tab="1" data-index-tab="2">
				<div class="swiper-container section-products__swiper-container">
					<div class="swiper-wrapper section-products__wrapper">


						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>


					</div>

					<div class="Swiper-button-next-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>

					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>


				</div>
			</div>

			<div class="Tabs__block Tabs__block--not-active" data-identification-tab="1" data-index-tab="3">
				<div class="swiper-container section-products__swiper-container">
					<div class="swiper-wrapper section-products__wrapper">


						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>

						<div class="swiper-slide section-products__slide">
							@include('../../blocks/Card-product/Card-product.html')
						</div>


					</div>

					<div class="Swiper-button-next-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#right-icon-button-slider-1"></use>
						</svg>

					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default Swiper-button-default--card">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#left-icon-button-slider-1"></use>
						</svg>

					</div>


				</div>
			</div> -->

		</div>

	</div>
</div>