<div class="mg-navigation-list ordering-page__list-item">
    <div class="mg-navigation-list__container">
        <div class="mg-navigation-list__item mg-navigation-list__commets condition--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Наименование и описание</h3>
            </div>
        </div>
        <div class="mg-navigation-list__item mg-navigation-list__contacts condition--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Контакты</h3>
            </div>
        </div>
        <div class="mg-navigation-list__item mg-navigation-list__requisites condition--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Реквизиты</h3>
            </div>
        </div>
        <div class="mg-navigation-list__item mg-navigation-list__address condition--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Адреса магазинов</h3>
            </div>
        </div>
        <div class="mg-navigation-list__item mg-navigation-list__workers condition--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Добавить сотрудника</h3>
            </div>
        </div>
        <div class="mg-navigation-list__item mg-navigation-list__logo condition--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Логотип компании</h3>
            </div>
        </div>
        <div class="mg-navigation-list__item mg-navigation-list__categories condition--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Категории</h3>
            </div>
        </div>
        <div class="mg-navigation-list__item mg-navigation-list__social condition--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Социальные сети</h3>
            </div>
        </div>
        <div class="mg-navigation-list__item mg-navigation-list__portfolio condition--disable">
            <div class="ordering-page__list-title">
                @include('../../../elements/condition/condition.html')
                <h3 class="ordering-page__list-title-text">Портфолио </h3>
            </div>
        </div>
        <div class="mg-navigation-list__item mg-navigation-list__buttons condition--disable">
            <a href="/profile-agent.html">
                <button class="Button Button--lime-light  Button--theme-s Button--theme-s-n">
                    <span class="Button__icon">
                        <svg class="Button__icon-svg">
                            <use class="Button__icon-svg-use" xlink:href="#mg-reset"></use>
                        </svg>
                    </span>
                </button>
            </a>
            <button class="Button Button--lime Button--theme-s">
                <span class="Button__text">Применить</span>
            </button>
        </div>

    </div>
</div>