.mg-navigation-list{
    @include adaptiv-value("padding-top", 42, 42, 1);
    @include adaptiv-value("padding-bottom", 39, 39, 1);
    @include adaptiv-value("padding-left", 40, 10, 1);
    @include adaptiv-value("padding-right", 19, 10, 1);
    &__item{
        padding-left:5px;
        &:not(:last-child):after{
            content: "";
            display: block;
            width: 1px;
            height: 20px;
            background-color: $gray-border;
            margin: 4px 0 4px 15px;
        }
    }
    &__buttons{
        display:flex;
        padding-left: 0;
        & button{
            &:nth-child(1){
                width: 42px;
            }
            &:nth-child(2){
                max-width: 178px;
                width:100%;
                margin-left:10px;
            }
        }
    }
   
    .ordering-page__list-title{
        cursor: pointer;
        &-text{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
        }
        max-height: 32px;
        padding: 0;
    }
    
    .condition__wrapper{
        width: rem(32);
        height: rem(32);
    }
}