<div class="popup-success">
	<div class="popup-success-form" id="popup-success" style="display: none;">
		<div class="popup-success-form__inner">
			<svg class="popup-form__svg" data-fancybox-close type="button">
				<use xlink:href="#popup-close" class="popup-form__use"></use>
			 </svg>
			<div class="popup-success-form__body">
				<div class="popup-success-form__block-title">
					<h2 class="popup-success-form__title">Спасибо!</h2>
					<span class="popup-success-form__subtitle popup-order-service__subtitle">Ваша заявка принята. Скоро с Вами свяжется наш специалист для уточнения деталей!</span>
				</div>
				<a data-fancybox-close class="Button Button--color-hardPurple Button--theme-md popup-order-service__button popup-success-form__btn ">
					<span class="Button__text">Понятно,закрыть окно</span>
				</a>
			</div>
	  </div>
  </div>
</div>