.Select-title {
  font-style: 22px;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}

.Select + .Select {
  margin-top: 10px;
}

label {
  cursor: pointer;
}

/* *******************
Select
******************* */

.Select {
  /* Растягиваем блок на 100% родительского блока, для правильного размещения кастомной стрелочки */
  width: 100%;
  // max-width: 280px;

  /* Убираем браузерную стрелку */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* Задаем свой фон и рамку */

  border-radius: 6px;
  background-color: #fff;

  /* Отступы от рамки к тексту */

  /* Убираем баузерную обводку*/
  outline: none;

  cursor: pointer;
}

/* Убираем стрелочку в IE 10 и 11 */
.Select::-ms-expand {
  display: none;
}

/* По клику - убираем обводку и добавляем свою*/
.Select:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}

/* Делаем .Select-wrapper родительским элементом для позиционирования "стрелочки" */
.Select-wrapper {
  position: relative;
}

/* Рисуем стрелочку */
.Select-wrapper::before {
  content: "";

  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  display: block;

  /* Рисуем треугольник */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: #7e9bbd transparent transparent transparent;

  /* Снимаем клик с треугольника */
  pointer-events: none;
}

/* *******************
Select c dropdown на JS
******************* */

.dropdown {
  position: relative;
  // z-index: 10;
}

.dropdown__button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;

  background: #ffffff;
  border: 1px solid $gray-border;
  border-radius: 2px;
  min-height: 42px;

  padding: 12px 39px 12px 21px;

  cursor: pointer;
}

.dropdown__button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.dropdown__button:focus,
.dropdown__button--active {
  outline: none;

  border-radius: 2px;
}

.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  /* Рисуем треугольник */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 5px 0 5px;
  border-color: $gray transparent transparent transparent;
  border-style: solid;

  /* Снимаем клик с треугольника */
  pointer-events: none;
}

.dropdown__list {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
	height: 160px;
	overflow-y: scroll;

  position: absolute;
  left: 0;
  top: 52px;

  margin: 0;
  padding: 0;
  list-style-type: none;

  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  // overflow: hidden;

  width: 100%;
  border-radius: 2px;
  z-index: 1;

  transition: $transition;
}

.dropdown__list--visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown__list-item {
  text-align: center;
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  padding: 12px 39px 12px 21px;
  cursor: pointer;
  color: $black;
  transition: $transition;

  &--active {
    position: relative;
    background-color: #f9faff;
    cursor: auto;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 13px;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background-image: url("/img/select.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .dropdown__list-item-text,
    .dropdown__img {
      opacity: 0.6;
    }
  }
}

.dropdown__list-item:first-child {
  border-radius: 6px 6px 0 0;
}

.dropdown__list-item:last-child {
  // border-bottom: 1px solid $gray;
}

.dropdown__list-item:hover {
  background: #f9faff;
}

.dropdown__input-hidden {
  display: none;
}
