<div class="Select">
	<div class="dropdown">
		<div class="dropdown__heading">
			<div class="dropdown__title">
				<span class="dropdown__title-text">
					Покрытие наружное
				</span>
			</div>
		</div>
		<button class="dropdown__button">
			<span class="dropdown__button-text">МДФ</span>
		</button>
		<ul class="dropdown__list">
			<li class="dropdown__list-item" data-value="up-price">
				<span class="dropdown__list-item-text">МДФ</span>
			</li>
			<li class="dropdown__list-item" data-value="down-price">
				<span class="dropdown__list-item-text">Металл</span>
			</li>
		</ul>
		<input type="text" name="select-category" value="" class="dropdown__input-hidden">
	</div>
</div>