.Card-medium {
  &__item-content {
    @include adaptiv-value("padding-top", 20, 20, 1);
    @include adaptiv-value("padding-right", 20, 20, 1);
    @include adaptiv-value("padding-bottom", 20, 20, 1);
    @include adaptiv-value("padding-left", 20, 20, 1);

    cursor: pointer;
  }

  &__block-img {
    position: relative;
    order: -1;
    overflow: hidden;
    padding-bottom: 33%;
    transition: $transition;
    transition: 0.3s all;
    pointer-events: none;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__item-description {
    margin-top: 5px;
  }

  &__item-description-text {
    @include adaptiv-value("font-size", 16, 14, 1);

    line-height: 19px;
  }

  &__item-title {
  }

  &__item-title-text {
    @include adaptiv-value("font-size", 16, 14, 1);

    font-weight: 600;
    color: $black;
  }

  &__list {
    @include adaptiv-value("margin-top", 70, 18, 1);

    display: grid;
    justify-content: center;
    grid-gap: 20px 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__list-item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
    transition: $transition;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.02) translate(0, -4px);
    }

    &:hover > .promo-page__block-img {
      filter: brightness(1.1);
    }
  }

  &__item-link {
    margin-top: 5px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}
