.Badges__offer {
  position: absolute;
  left: 4px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 5;
  pointer-events: none;
}

.Badges__offer .Icon:not(:first-child) {
  margin-top: 10px;
}

.Badges__offer-last {
  margin-top: auto;
}

.Badges__offer-discount {
  border-radius: 2px;
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  background: #d84040;
}

.Badges__interaction {
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.Badges__interaction .Icon:not(:first-child) {
  margin-top: 10px;
}

.Badges__interaction-last {
  margin-top: auto;
}

.Badges__interaction-last .Button__icon-svg {
  margin: 0;
}

.Badges__interaction-last .Button--theme-s {
  width: 42px;
}
/*# sourceMappingURL=Badges.css.map */