.mg-add-social__container {
  padding: 40px 0;
}

.mg-add-social__container .ordering-page__form {
  max-width: 80%;
  margin: auto;
}

.mg-add-social__container .ordering-page__block-inputs {
  width: 100%;
}

.mg-add-social .Input {
  width: 100%;
}

.mg-add-social .Input__label {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.mg-add-social .Input__label-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-add-social .Input__label-icon {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.mg-add-social .Input__label-icon .Button__icon-svg {
  fill: #D74F5C;
}

.mg-add-social .Input__inp {
  width: 72%;
  margin-left: 10px;
}
/*# sourceMappingURL=mg-add-social.css.map */