.mg-add-social {
    &__container {
        padding: 40px 0;
        .ordering-page {
            &__form {
                max-width: 80%;
                margin: auto;
            }
            &__block-inputs {
                width: 100%;
            }
        }
    }
    .Input {
        width: 100%;
        &__label {
            justify-content: end;
            &-inner {
                display: flex;
                align-items: center;
            }
            &-icon {
                width: 32px;
                height: 32px;
                display: flex;
                margin-left: 10px;
                .Button__icon-svg {
                    fill: #D74F5C;
                }
            }
        }
        &__inp {
            width: 72%;
            margin-left: 10px;
        }
    }
}