.Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Logo a {
  display: block;
}

.Logo__image {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Logo__image--size-xs {
  width: 130px;
  max-height: 36px;
}

.Logo__image--size-s {
  width: 149px;
  max-height: 42px;
}

.Logo__image--size-m {
  width: 212px;
  max-height: 60px;
}

.Logo__image--size-l {
  width: 289px;
  max-height: 81px;
}
/*# sourceMappingURL=logo.css.map */