.Feedback {
  &__wrapper {
    @include adaptiv-value("width", 171, 220, 1);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  &__number {
    @include adaptiv-value("font-size", 16, 22, 1);
    @include adaptiv-value("line-height", 19, 26, 1);
  }

  &__block-number {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__icon-svg {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
}
