<div class="mg-add-workers">
    <div class="mg-add-workers__container mg-table-container--border">
        <div class="mg-table__header mg-table--theme--grid">
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">№</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">ФИО сотрудника</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Должность</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Телефон</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Магазин</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Роль</span>
                </div>
            </div>
            <div class="mg-table__headlines">
                <div class="mg-table__title">
                    <span class="mg-table__title">Опции</span>
                </div>
            </div>
        </div>
        <div class="mg-table__body-container mg-colors--default">
            <div class="mg-table__body mg-table--theme--grid">
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">0001</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Эвангелион Иван Викторович</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Менеджер по продажам</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">г. Краснодар, ул. им. Героя А. А. Игнатьева, дом 267/Б</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Админ</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mg-table__body mg-table--theme--grid">
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">0002</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Русаков Саввелий Сократович</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Менеджер по продажам</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">г. Краснодар, ул. им. Героя А. А. Игнатьева, дом 267/Б</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Касса</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mg-table__body mg-table--theme--grid">
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">0003</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Алексеев Макар Левович</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Менеджер по продажам</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">г. Краснодар, ул. им. Героя А. А. Игнатьева, дом 267/Б</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Админ</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mg-table__body mg-table--theme--grid">
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">0003</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Эвангелион Иван Викторович</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Менеджер по продажам</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">г. Краснодар, ул. им. Героя А. А. Игнатьева, дом 267/Б</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Админ</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mg-table__body mg-table--theme--grid">
                <div class="mg-table__subtitle mg-bold">
                    <div class="mg-table__title">0001</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Эвангелион Иван Викторович</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Менеджер по продажам</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">+7(909) 654-78-89</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">г. Краснодар, ул. им. Героя А. А. Игнатьева, дом 267/Б</div>
                </div>
                <div class="mg-table__subtitle">
                    <div class="mg-table__title">Админ</div>
                </div>
                <div class="mg-table__subtitle mg-table-options--center">
                    <div class="mg-table__title">
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-basket"></use>
                            </svg>
                        </span>
                        <span class="Button__icon">
                            <svg class="Button__icon-svg">
                                <use class="Button__icon-svg-use" xlink:href="#mg-edit-lite"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>