.header {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
  &__block-city {
  }

  &__block-information-center {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .Catalog__list-product-second-level-item {
      width: 230px;
    }
    .Catalog__list-product-third-level {
      width: 230px;

      left: 220px;
    }
  }
  &__block-information-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__block-loginin {
    position: relative;
    cursor: pointer;
  }

  &__block-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e3e6f3;
    padding: 20px 0;
  }

  &__block-loginin {
  }

  &__block-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__button-catalog {
    position: relative;

    transition: $transition;
    &:hover > .header-catalog {
      opacity: 1;
      visibility: visible;
      transition: $transition;
    }
  }
  &__city-text {
    margin-left: 5px;
    color: $black;
    transition: $transition;
  }

  &__city-icon {
  }

  &__city-icon-svg {
    width: 18px;
    height: 18px;
    transition: $transition;
  }

  &__city-link {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 20px;

    &:hover > .header__city-icon > .header__city-icon-svg,
    &:focus > .header__city-icon > .header__city-icon-svg {
      fill: $lime;
    }

    &:hover > .header__city-text,
    &:focus > .header__city-text {
      color: $lime;
    }
  }

  &__city-svg-use {
  }

  &__loginin-text {
    transition: $transition;

    &:hover,
    &:focus {
      color: $lime;
    }
  }

  &__loginin-popup-code {
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 10;
    padding: 20px;
    background: $black;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.3s all;

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__loginin-popup {
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 10;
    padding: 20px;
    background: $black;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.3s all;

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__loginin-popup-entry {
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 10;
    padding: 20px;
    background: $black;
    opacity: 0;
    visibility: hidden;

    transform: translateY(-10px);
    transition: 0.3s all;
    .Checkbox {
      margin-top: 30px;
    }
    .Checkbox--default .Checkbox__input ~ .Checkbox__inner-text::before {
      width: 14px;
      height: 14px;
    }
    .Checkbox__text {
      color: $white;
    }
    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__nav {
  }

  &__nav-item {
    margin: 0 20px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-list {
    display: flex;
  }

  &__instruments {
    display: flex;
    justify-content: flex-end;
    @include adaptiv-value("margin-left", 50, 20, 1);
    @include adaptiv-value("width", 280, 170, 1);

    .Icon {
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      @include adaptiv-value("margin-left", 15, 0, 1);
      @include adaptiv-value("margin-right", 15, 0, 1);
    }
  }

  &__social-network {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;

    .Social-network {
      &:first-child {
        margin-right: 10px;
      }
      &__icon-svg {
        fill: $lime;
      }
    }
  }

  &__wrapper {
    min-height: 138px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
  }
  &__wrapper-mobile {
    display: none;
    position: fixed;
    z-index: 500;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3);
  }

  .item-nav {
    &__content {
      position: relative;
      display: flex;
      align-items: center;

      &:hover > .item-nav__icon > .item-nav__icon-svg,
      &:focus > .item-nav__icon > .item-nav__icon-svg {
        fill: $lime;
      }

      &:hover > .item-nav__text,
      &:focus > .item-nav__text {
        color: $lime;
      }
      &:hover > .item-nav__counter,
      &:focus > .item-nav__counter {
        background: $red;
      }
    }

    &__counter {
      position: absolute;
      right: -20px;
      top: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      width: 22px;
      height: 19px;
      font-weight: 600;
      font-size: 12px;
      color: $white;
      background-color: $lime;
      transition: $transition;
    }

    &__icon {
    }

    &__icon-svg {
      width: 16px;
      height: 16px;
      fill: $gray;
      transition: $transition;
    }

    &__icon-svg-use {
    }

    &__text {
      margin-left: 8px;
      transition: $transition;
    }
  }

  .loginin-popup-header {
    &__block-inputs {
    }

    &__form {
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
    }

    &__links-text {
      font-weight: 600;
    }

    .Button {
      margin-top: 30px;
      width: 100%;

      &__text {
      }

      &--lime {
      }

      &--theme-m {
      }
    }

    .Input {
      &__inp {
      }
    }

    .input {
    }

    .input-validation {
      &__message {
      }

      &__message-mod {
      }
    }
  }

  .loginin-popup-code-header {
    &__block-inputs {
    }

    &__form {
    }

    &__form-link {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 15px;
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
    }

    &__link-text {
    }

    &__links-text {
      font-weight: 600;
    }

    .Button {
      margin-top: 30px;
      width: 100%;

      &__text {
      }

      &--lime {
      }

      &--theme-m {
      }
    }

    .Input {
      &__inp {
      }
    }

    .input {
    }

    .input-validation {
      &__message {
      }

      &__message-mod {
      }
    }
  }

  .loginin-popup-entry-header {
    &__block-inputs {
    }

    &__form {
    }

    &__form-link {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 15px;
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
    }

    &__link-text {
    }

    &__links-text {
      font-weight: 600;
    }

    .Button {
      margin-top: 30px;
      width: 100%;

      &__text {
      }

      &--lime {
      }

      &--theme-m {
      }
    }

    .Input {
      &__inp {
      }
    }

    .input {
    }

    .input-validation {
      &__message {
      }

      &__message-mod {
      }
    }
  }

  .Privacy-policy {
    margin-top: 30px;

    &__text--policy {
      font-size: 16px;
      color: $white;
    }
  }

  .Button {
    &__icon {
    }

    &__icon-svg {
    }

    &__icon-svg-use {
    }

    &__text {
    }

    &--lime {
    }

    &--theme-m {
    }

    &--theme-xs {
    }
  }
  .Catalog {
    position: absolute;
    z-index: 200;
    top: 50px;
    transition: $transition;
    &__list-product-third-level {
      left: 230px;
      // left: 238px;
    }
    &__list-product-second-level {
    }
    &__list-product-third-level-item {
      width: 100%;
    }

    .Button--theme-l {
      border: none;
    }
  }
  .header-catalog {
    background: $white;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: $transition;
  }
  .Input {
    &__inp {
    }
  }

  .Link {
    &--lime-decor {
    }
  }

  .Logo {
    @include adaptiv-value("margin-right", 60, -120, 1);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: -44px;
      top: 22px;
      display: block;
      width: 30%;
      height: 1px;
      background: #e3e6f3;

      transform: rotate(90deg);
    }
    &__image {
      max-width: none;
      &--size-s {
        @include adaptiv-value("width", 150, 20, 1);
      }
    }
  }

  .Search {
    &__block {
      @include adaptiv-value("width", 350, -380, 1);
      margin-left: 10px;
    }

    &__block-icon {
    }

    &__button {
    }

    &__form {
    }

    &__input {
    }

    &__svg {
    }

    &__use {
    }
  }

  .Feedback {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: -50px;
      top: 19px;
      display: block;
      width: 29%;
      height: 1px;
      background: #e3e6f3;

      transform: rotate(90deg);
    }
  }

  .Icon {
    &__text {
      margin-left: 15px;
    }
  }
}
.mobile-header {
  &__block-city {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: -17px;
      top: 12px;
      display: block;
      width: 100%;
      height: 1px;
      background: #e3e6f3;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  &__block-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $black;
    padding: 8px 15px;
  }
  &__block-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 15px;
  }
  &__block-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 15px;
  }
  &__block-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__block-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__button-catalog {
    width: 40px;
    height: 40px;
  }
  &__container-catalog {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-top: 1px solid #e3e6f3;
    border-bottom: 1px solid #e3e6f3;
    padding: 10px 5px;
    .Button {
      &__icon-svg {
        margin: 0;
      }
    }

    .Search {
      &__block {
        width: 230px;
        @include adaptiv-value("width", 830, 190, 1);
      }
    }
  }
  &__city-icon {
  }
  &__city-icon-svg {
    width: 16px;
    height: 22px;
    fill: $white;
  }
  &__city-link {
  }
  &__city-svg-use {
  }
  &__instruments {
    .Icon {
      margin: 0 10px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &__counter {
        width: 26px;
        height: 21px;
        border-radius: 100px;
        right: -14px;
        top: -9px;
        z-index: 5;
      }
    }
  }
  &__menu-icon {
  }
  &__menu-icon-svg {
    width: 4px;
    height: 8px;
    fill: $gray;
    transform: rotate(90deg);
    margin-left: 5px;
  }
  &__menu-title {
    margin-left: 20px;
    color: $white;
    font-size: 14px;
    position: relative;
    transition: $transition;
    cursor: pointer;
    &:hover > .mobile-header__nav > .mobile-header__nav-list {
      visibility: visible;
      opacity: 1;
    }
  }
  &__menu-list {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  &__menu-list::-webkit-scrollbar {
    width: 0;
  }
  &__menu-list li {
    margin: 10px;
    margin-bottom: 0;
    font-size: 14px;
    color: $black;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__menu-list li a {
    color: $black;
  }
  &__menu-catalog {
    padding-bottom: 10px;

    ::-webkit-scrollbar {
      width: 0px; /* ширина для вертикального скролла */
      height: 0px; /* высота для горизонтального скролла */
      background-color: transparent;
    }
  }
  &__nav {
  }
  &__nav-list {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 44;
    background: $black;
    padding: 0 20px;
    width: 215px;
    min-height: 50px;
  }
  &__nav-list li {
    padding: 16px 0;
    border-bottom: 1px solid #1c2029;
  }
  &__nav-item {
    .item-nav__text {
      font-size: 14px;
      margin: 0;
      color: #eeeff6;
    }
  }
  &__phone {
    background: $white;
    width: 38px;
    height: 22px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      opacity: 0.9;
    }
  }
  &__phone-icon-svg {
    width: 15px;
    height: 15px;
  }
  &__whatsapp {
    background: #43d854;
    width: 104px;
    height: 22px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    &:hover {
      opacity: 0.9;
    }
  }
  &__whatsapp-link {
    display: flex;
  }
  &__whatsapp-icon-svg {
    width: 16px;
    height: 16px;
    fill: $white;
  }
  &__whatsapp-text {
    font-size: 14px;
    font-weight: 600;
    font-family: PFBeauSansPro;
    color: $white;
    margin-left: 3px;
  }
  .mobile-header-catalog {
    display: none;
  }
}

.manager__header {
  &-container {
    display: flex;
    padding: 20px 0;
  }
  &-search {
    @include adaptiv-value("max-width", 878, 200, 1);
    padding-right: 40px;
    width: 100%;
    .Search__input {
      background-color: $white;
      border-radius: 2px;
    }
    .Search__button {
      border-radius: 2px;
    }
  }
  &-map {
    position: relative;
    display: flex;
    @include adaptiv-value("max-width", 203.67, 100, 1);
    width: 100%;
    padding: 0 18px;
    cursor: pointer;
    align-items: center;
    border-left: 1px solid #8f96b0;
    border-right: 1px solid #8f96b0;
    &:hover {
      .mg-country__list {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-avatar {
    position: relative;
    max-width: 198px;
    margin-left: 20px;
    width: 100%;
    &:hover {
      .mg-avatar__list {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/* mg-country */
.mg-country {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 119%;
    top: 44px;
    right: -15px;
    background: $white;
    transition: $transition;
    z-index: 12;
  }
  &__li {
    font-weight: normal;
    @include adaptiv-value("font-size", 16, 12, 1);
    @include adaptiv-value("line-height", 19, 13, 1);
    padding: 12px 39px 11px 21px;
    &:not(:first-child) {
      border-top: 1px solid $grey-li-bt;
    }
    &:hover {
      background-color: $grey-li-hover;
      border-color: $grey-li-hover;
    }
  }
  &__name {
    font-style: normal;
    font-weight: normal;
    @include adaptiv-value("font-size", 16, 12, 1);
    @include adaptiv-value("line-height", 19, 13, 1);
  }
}

/* mg-avatar */
.mg-avatar {
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  &__items {
    &:first-child {
      margin-bottom: 3px;
      margin-top: -5px;
    }
    &-inner {
      display: flex;
      @include adaptiv-value("max-width", 114, 80, 1);
      margin: 0 auto;
      justify-content: center;
      border-radius: 14px;
      box-shadow: 0px 1px 2px rgb(89, 115, 38 / 50%);
      background: linear-gradient(
        109.72deg,
        #badc77 7.2%,
        #e7ffb7 45.8%,
        #badc77 86.38%
      );
    }
    &-position {
      font-style: normal;
      font-weight: 600;
      @include adaptiv-value("font-size", 12, 8, 1);
      @include adaptiv-value("line-height", 14, 8, 1);
      padding: 3px 0;
    }
  }

  &__list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 119%;
    top: 44px;
    right: -15px;
    background: $white;
    transition: $transition;
    z-index: 12;
  }
  &__li {
    font-weight: normal;
    @include adaptiv-value("font-size", 16, 12, 1);
    @include adaptiv-value("line-height", 19, 13, 1);
    padding: 12px 31px 11px 21px;
    &:not(:first-child) {
      border-top: 1px solid $grey-li-bt;
    }
    &:hover {
      background-color: $grey-li-hover;
      border-color: $grey-li-hover;
    }
  }
  &__link {
    display: flex;
    font-style: normal;
    font-weight: normal;
    @include adaptiv-value("font-size", 16, 12, 1);
    @include adaptiv-value("line-height", 19, 13, 1);
    color: $black-mg;
    align-items: center;
    &--red {
      color: $red;
    }
  }

  &__photo {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
  }
  &__name {
    & span {
      font-style: normal;
      font-weight: normal;
      @include adaptiv-value("font-size", 18, 12, 1);
      @include adaptiv-value("line-height", 22, 14, 1);
      color: $quartz;
    }
  }
  &__icon {
    .mg-buttons__bottom-svg {
      width: 5px;
      height: 10px;
    }
  }
}

/* checkbox */
.mg-checkbox__label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mg-buttons {
  &__bottom {
    &-svg {
      width: 3.75px;
      height: 7.5px;
      transform: rotate(90deg);
      fill: $gray;
    }
  }
  &__map-svg {
    width: 12.09px;
    height: 16.75px;
  }
}

.mg-drop-down {
  width: 24px;
  height: 24px;
  display: block;
}

/* checkbox on off */
.mg-checkbox-ios {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 22px;
}
.mg-checkbox-ios input {
  display: none;
}
.mg-checkbox {
  &-on {
    font-style: normal;
    font-weight: 600;
    @include adaptiv-value("font-size", 12, 8, 1);
    //@include adaptiv-value("line-height", 14, 8, 1);
    line-height: 14px;
    position: absolute;
    top: 3.3px;
    left: 8px;
    opacity: 0;
    color: $white;
    transition: $transition;
  }
  &-off {
    font-style: normal;
    font-weight: 600;
    @include adaptiv-value("font-size", 12, 8, 1);
    // @include adaptiv-value("line-height", 14, 8, 1);
    line-height: 14px;
    position: absolute;
    top: 3.3px;
    left: 22px;
    opacity: 1;
    color: $white;
    transition: $transition;
  }
}

.checkbox-on-off {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $checkbox-off;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-on-off:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2.3px;
  bottom: 2px;
  background-color: $white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .checkbox-on-off {
  background-color: $lime;
  .mg-checkbox-on {
    opacity: 1;
  }
  .mg-checkbox-off {
    opacity: 0;
  }
  box-shadow: 0px 1px 10px #fff, -1px -1px 1px #fff;
}

input:focus + .checkbox-on-off {
  box-shadow: 0 0 1px $lime;
}

input:checked + .checkbox-on-off:before {
  -webkit-transform: translateX(33.3px);
  -ms-transform: translateX(33.3px);
  transform: translateX(33.3px);
}
/* Rounded sliders */
.checkbox-on-off.checkbox-on-off-round {
  border-radius: 34px;
}
.checkbox-on-off.checkbox-on-off-round:before {
  border-radius: 50%;
}
