@media (max-width: 1250px) {
  //! Gui
  .Card-medium {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    .section-order-measurement {
      &__block-img {
        left: 0;
        bottom: -80px;
      }
    }

    .partners-page {
      &__block-img {
        order: -1;
      }

      &__list {
      }

      &__list-item {
        grid-template-columns: repeat(auto-fit, 100%);
      }
    }
  }
  .Card-product {
    @include adaptiv-value("min-height", 675, 360, 1);
    &--close {
      min-height: 480px;
    }
  }

  .Contacts {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 40px;
    }
  }

  .Card-buy {
    &__item-products {
      grid-template-columns: 1fr 3fr;
    }

    .item-Card-buy__amount {
      flex-direction: column;
    }

    .item-Card-buy__amount-desc {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }

    .item-Card-buy__amount-btn {
      margin-top: 30px;
    }

    .item-Card-buy__amount-desc-text {
      margin: 0;
    }

    .item-Card-buy__amount-btn {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .Card-intermediate {
    &__block-img {
      order: -1;
    }

    &__list-item {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  .Product-description {
    &__footer-btns {
      .Button {
        width: auto;
        &__icon-svg {
          margin: 0;
        }
      }
      & > .Button:not(:first-child) > .Button {
        &__text {
          display: none;
        }
      }
    }
  }
	.ordering-page {
		&__payment {
			flex-direction: column;
			.payment {
				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}
	}

  //! Page
  .header {
    &__block-information {
      .Logo {
        &::before {
          width: 0;
        }
      }
    }
  }
  .status-products {
    &__list-card-product {
      grid-template-columns: repeat(2, 49%);
    }
  }

  .partners-page {
    &__list-item {
      grid-template-rows: 280px 1fr;
    }
  }
  //! Section
  .section-related-products {
    &__cards {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  }
  .section-directory {
    // &__tabs {
    //   #button01 {
    //     display: none;
    //   }
    // }
  }
}

@media (max-width: 1023px) {
  //! Gui
  .Card-simple {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .Contacts {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 49%);
      gap: 40px;
    }
  }

  .Card-buy {
    &__item-products {
      grid-template-columns: 1fr 2fr;
    }

    .item-Card-buy__amount-desc {
      flex-direction: column;

      :not(first-child) {
        margin-top: 10px;
      }
    }

    .item-Card-buy__item-detailed {
      flex-direction: column;
    }

    .item-Card-buy__info-detailed {
      justify-content: flex-end;
      margin-top: 20px;
      padding: 0;
    }
  }

  //! Section

  .header {
    &__wrapper {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    &__wrapper-mobile {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }

  .section-catalog {
    &__swiper-container {
      margin: 0;
    }

    .Button {
      width: 100%;
      padding: 14px 21px 14px 21px;
      min-height: 52px;
      transition: $transition;
    }

    .parent-menu {
      .Catalog {
        &__mobile-icon {
          transform: rotate(0deg);
        }
      }

      &--active {
        border-radius: 0;
        box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3) !important;

        .Button {
          &__text {
            color: $lime !important;
          }

          &__icon-svg {
            fill: $lime !important;
          }
        }

        .Catalog {
          &__mobile-icon {
            transform: rotate(90deg) !important;
            fill: $lime;
          }

          &__mobile-text {
            color: $lime;
          }
        }
      }
    }

    .Catalog {
      &__block-list-product {
        position: fixed;
        opacity: 0;
        overflow-y: auto;
        padding: 30px 0;
        visibility: hidden;
        transition: 0.7s all;
      }

      &__block-name-section,
      &__list-product {
        width: 90%;
      }

      &__block-name-section {
        display: block;
      }

      &__name-section {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: $black;
      }

      &__list-product {
        width: 90%;
        margin-top: 20px;
      }

      &__list-product-second-level,
      &__list-product-third-level {
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
        transition: none;
      }

      &__list-product-second-level-button {
        padding: 15px 19px;
      }

      &__list-product-second-level-item {
        padding: 0;
      }

      &__list-product-second-level-item,
      &__list-product-third-level-item {
        width: 100%;
        padding: 0 0 0 15px;
      }

      &__list-product-third-level {
      }
    }
  }

  .section-scorer {
    &__item {
      width: 20%;
    }
  }

  .section-order-measurement {
    &__block-img {
      left: 50%;
      top: -70px;
      width: 300px;
      height: 300px;
      transform: translateX(-50%);
    }

    &__content {
      @include adaptiv-value("padding-left", 33, 20, 1);

      padding-top: 200px;
    }
  }

  //! Page

  .ordering-page {
    .Privacy-policy {
      margin-right: 0;
      width: 100%;
    }

    .Privacy-policy__text--policy {
      display: flex;
      flex-direction: column;
      white-space: normal;
    }
  }

  .partners-page {
    &__block-img {
      order: -1;
    }

    &__list {
    }

    &__list-item {
      grid-template-columns: repeat(auto-fit, 100%);
    }
  }

  .contacts-page {
    &__heading {
      &--border,
      &--border-n {
        position: relative;

        ::before {
          width: 100%;
        }
      }
    }
  }
  .interior-door-card {
    &__header {
      flex-direction: column;
    }
    .header-interior-door-card {
      &__content-Thumbnail-slide-Video {
        max-width: 100%;
      }
    }
  }

  //! PoPup
  .popup-selection-master {
    &__item,
    &__amount,
    &__total {
      flex-direction: column;
    }
  }

  //! Menu code

  .header {
    .Logo__image--size-s {
      width: auto;
    }
  }
  .mobile-header {
    &__block-bottom {
      width: 100%;
      z-index: 600;
      background-color: #fff;
      transition: $transition;
    }
    &__button-catalog {
      .Button--theme-xs {
        .Button__icon-svg {
          margin-right: 0;
        }
      }
    }
  }

  .mobile-menu-active {
    position: relative;

    .mobile-header {
      &__block-bottom {
        box-shadow: 0 -8px 8px rgba(143, 150, 176, 0.3);
        transform: translateY(-100%);
        position: fixed;
      }
    }
    .section-catalog {
      .Catalog {
        &__block-list-product {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 100%;
          z-index: 450;
          top: 104px;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $white;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .button-menu-catalog {
    &--active {
      border-radius: 0;
      background-color: $white;
      box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3%) !important;

      .Button__text {
        color: #9aca3c !important;
      }

      .Button__icon-svg {
        fill: #9aca3c !important;
      }

      .Button__icon-svg {
        &--right {
          transform: rotate(90deg);
        }
      }
    }
  }

  .section-catalog {
    &__swiper-container {
      margin: 0;
    }

    .Button {
      width: 100%;
      padding: 14px 21px 14px 21px;
      min-height: 52px;
      transition: $transition;
    }

    .parent-menu {
      .Catalog {
        &__mobile-icon {
          transform: rotate(0deg);
        }
      }

      &--active {
        border-radius: 0;
        box-shadow: 0 5px 15px rgba(143, 150, 176, 0.3) !important;

        .Button {
          &__text {
            color: $lime !important;
          }

          &__icon-svg {
            fill: $lime !important;
          }
        }

        .Catalog {
          &__mobile-icon {
            transform: rotate(90deg) !important;
            fill: $lime;
          }

          &__mobile-text {
            color: $lime;
          }
        }
      }
    }

    .Catalog {
      &__block-list-product {
        position: fixed;
        opacity: 0;
        overflow-y: auto;
        padding: 30px 0;
        visibility: hidden;
        transition: 0.7s all;
      }

      &__block-name-section,
      &__list-product {
        width: 90%;
      }

      &__block-name-section {
        display: block;
      }

      &__name-section {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: $black;
      }

      &__list-product {
        width: 90%;
        margin-top: 20px;
      }

      &__list-product-second-level,
      &__list-product-third-level {
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
        transition: none;
      }
    }

    &__swiper-container {
      margin: 0;
      &__list-product-second-level-button {
        padding: 15px 19px;
      }

      &__list-product-second-level-item {
        padding: 0;
      }

      &__list-product-second-level-item,
      &__list-product-third-level-item {
        width: 100%;
        padding: 0 0 0 15px;
      }

      &__list-product-third-level {
      }
    }
  }
}
@media (max-width: 866px) {
  //! GUI

  .Card-buy {
    &__item-products {
      grid-template-columns: 1fr 3fr;
    }

    .item-Card-buy__amount-desc {
      flex-direction: row;
    }
  }

  .Checkout {
    &__wrapper {
      box-shadow: none;
    }

    &__content {
      border-top: none;
    }
  }

  .Card-product {
    &__form-specification {
      flex-direction: column;
      margin: 0;
    }

    &__size-specification {
      margin: 0;
      margin-top: 10px;
    }
    &__block-img {
      .Badges {
        &__offer {
          .Badges__offer-last {
            .Palette {
              display: none;
            }
          }
        }
      }
    }
    .Palette {
      display: none;
    }
  }
  .compares-parameter {
    &__list--slide {
      margin: 0 auto;
      margin-top: 20px;
      width: 87%;
    }
    &__item {
      height: 100%;
    }
    &__title,
    &__list {
      display: none;
    }
    &__item-title {
      display: block;
    }
  }

  .Card-product {
    @include adaptiv-value("min-height", 500, 355, 1);

    &__block-img {
      margin: 0;
      margin-top: 10px;
      padding: 50%;
      .Badges {
        &__offer-discount {
          font-size: 14px;
        }
      }
    }
    &__wrapper {
      padding: 10px;
    }

    &--close {
      margin: 0 auto;
      .Card-product {
        &__btn-delete {
          right: -13px;
          top: -12px;
          .Button {
            &__icon-svg {
              width: 22px;
            }
          }
        }
        &__block-instruments-mobile {
        }
      }
    }
    &__block-instruments-mobile {
      display: flex;
      opacity: 1;
      visibility: visible;
      .instruments-mobile-Card-product {
        &__block-left {
          .Icon__svg {
            width: 18px;
            height: 18px;
          }
        }
        &__block-right {
          .Button--theme-s {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    &__block-retail-price-value {
      flex-direction: row;
      align-items: center;
    }
    &__btn-specifications,
    &__list-color-selection,
    &__retail-price-title,
    &__badges-right,
    &__btn-basket,
    &__block-specification,
    &__trade-price,
    &__your-price,
    &__have-icon,
    .Badges__interaction {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
    &__block-retail-price-value {
      flex-wrap: wrap;
    }
    &__retail-price-value,
    &__retail-price-value-old {
      display: inline-flex;
      flex: auto;
      padding: 0;
      margin: 0;
    }
    &__retail-price-value {
      margin-right: 10px;
    }
  }
  .compares-cards {
    &__swiper-container {
      padding-top: 45px;
      .Swiper-button-prev-video-reviews {
        padding-left: 15%;
      }
      .Swiper-button-next-video-reviews {
        padding-right: 15%;
      }

      .Swiper-button-default {
        top: 20px;
      }

      &--two {
        display: block;
      }
    }
    &__swiper-scrollbar {
      display: none;
    }
    &__swiper-pagination {
      position: absolute;
    }
  }
  .compares {
    &__box-cards-desc {
      display: flex;
      overflow-x: unset;
      // flex-direction: column;
    }
    &__box-wrapper {
      width: 50%;
    }
  }

  //! Page

  .basket-page {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .Checkout {
      order: -1;

      .Button {
        width: 100%;
      }
    }
  }

  .ordering-page {
    &__block-inputs {
      align-items: center;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px;
    }

    &__form {
    }

    .Bread-crumbs {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    .Input {
      width: 100%;
    }

    .Input__label {
      flex-direction: column;
      align-items: flex-start;
    }

    .Input__inp {
      margin-left: 0;
      width: 100%;
    }


    .Checkout {

      &--mobile {
        .Checkout {
					order: -1;
          &__wrapper {
            order: -1;
            display: block;
            order: -1;
            border-top: 1px solid $gray-border;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      order: -1;

			&__box-content-result {
				order: -1;
			}
      &__mobile {
        display: block;
        order: -1;
        border-top: 1px solid $gray-border;
        opacity: 1;
        visibility: visible;
      }
			&__wrapper {
				display: flex;
				flex-direction: column;
			}

      .Button {
        width: 100%;
      }
    }

    &__block-personal-data,
    &__block-order-list,
		&__list-item {
      box-shadow: none;
    }
  }
	.information-account {
		&__wrapper {
      box-shadow: none;
		}
	}


  .video-reviews-page {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .compares {
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__box-options-parameter {
      padding-right: 0;
    }
  }
  .compares-options {
    &__btns {
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiv-value("margin-top", 53, 25, 1);

      .Button {
        &:not(:first-child) {
          margin: 0;
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    &__wrapper {
      width: 100%;
      min-height: auto;
    }
  }

  //! Section
  .section-related-products {
    &__cards {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
  }
  .section-scorer {
    &__items {
      flex-wrap: wrap;
    }

    &__item {
      width: 31%;

      &:nth-child(n + 4) {
        margin-top: 30px;
      }
    }
  }

  .section-order-measurement {
    .Input__inp {
      width: 200px;
    }

    &__form {
      max-width: 400px;
    }
  }
  .section-directory {
    &__Checkbox,
    &__btns {
      display: none;
    }
  }

  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    &__logo {
      display: none;
    }

    &__content-navs {
      flex-direction: column;
      justify-content: flex-start;
      order: -1;
    }

    &__block-title-nav {
      display: none;
    }

    &__nav {
      margin: 0;
    }

    &__block-nav {
      @include adaptiv-value("width", 100, 250, 1);
    }

    &__block-nav-partners {
      @include adaptiv-value("margin-top", 10, 20, 1);
    }

    &__block-nav-catalog {
      display: none;
    }

    &__wrapper-copyright {
      flex-direction: column;
    }

    &__list-copyright-informations {
      align-items: flex-start;
      margin-top: 30px;
    }

    &__content-social-networks {
      margin-top: 40px;
    }

    .Button {
      display: none;
    }
  }
  //! PoPup
}

@media (max-width: 730px) {
  //! Gui
  .Card-medium {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .Card-elementary {
    &__list-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .item-Card-elementary {
      &__block-img {
        max-height: 310px;
      }
    }
  }

  .Card-begginer {
    &__content {
      margin: 0;
      margin-top: 30px;
    }

    &__list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__block-img {
      max-height: 206px;
    }

    &__item-title {
      text-align: center;
    }

    &__item-description-text {
      text-align: center;
    }

    &__block-information {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .Button {
        margin: 20px 0 0;
        width: 100%;
        min-height: 50px;
      }

      .Feedback {
        &__wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .Card-intermediate {
    &__list {
      grid-template-columns: 1fr;
    }

    &__list-item {
      grid-template-rows: 1.1fr 1fr;
    }

    &__img {
      object-position: top;
    }
  }

  .status-products {
    &__tabs {
      // white-space: nowrap;
      .Catalog {
        ::-webkit-scrollbar {
          width: 0px; /* ширина для вертикального скролла */
          height: 0px; /* высота для горизонтального скролла */
        }

        &__list-product-second-level,
        &__list-product-third-level {
          display: none;
        }
        &__block-list-product {
          // margin-left: 13%;
        }
        &__list-item-product {
          white-space: nowrap;
          .Button {
            &--theme-l-n {
              width: 100%;
              min-height: 37px;
            }
          }
        }
        &__list-product {
          overflow-x: scroll;
        }
        .Button {
          &__icon {
            display: none;
          }
        }
      }
    }
  }

  //! Section
  .header {
    &__wrapper-mobile {
      .Logo__image--size-s {
        @include adaptiv-value("width", 250, 80, 1);
      }
    }
  }
  .section-products {
    &__tabs {
      .Button {
        width: 100%;

        &__icon {
          display: none;
          opacity: 0;
          visibility: visible;
        }
      }
    }
  }
  .section-directory {
    &__Checkbox {
      // display: none;
    }
  }

  //! Page
  .contacts-page {
    &__block-inputs {
      width: 100%;
    }

    &__button-consultation {
      .Button {
        &--theme-m {
          width: 100%;
        }
      }
    }

    &__form {
      flex-direction: column;

      .Button {
        margin: 10px 0 0;
        width: 100%;
        min-height: 50px;
      }
    }
  }

  //! Popup
  .popup-beginner {
    .Input {
      width: 100%;

      &:not(:first-child) {
        margin-top: 40px;
      }

      &__label-text {
        position: absolute;
        bottom: 50px;
      }

      &__inp {
        margin: 0;
        width: 100%;
      }
    }

    .Privacy-policy {
      margin: 0;
      max-width: 100%;

      &__label {
        &::before {
          top: 80%;
        }
      }
    }

    .Button {
      width: 100%;
      min-height: 50px;
    }

    &__block-inputs {
      width: 100%;
    }
  }

  .profile-section {
    &__content {
      padding: 20px 15px;
    }

    &__form {
    }

    &__block-info {
      margin-top: 40px;
    }

    &__block-element {
      align-items: flex-start;
      flex-direction: column;
    }

    &__name-element {
      width: auto;
    }

    &__name-element-value,
    &__inner-image,
    &__input {
      margin-left: 0;
    }

    &__block-input {
      margin-top: 5px;
      width: 100%;
      height: 30px;
    }

    &__input {
      width: 100%;
      height: 30px;
    }

    &__block-info {
      order: 2;
      width: 100%;
    }

    &__inner-image {
      order: 1;
      width: 100%;
      max-width: 100%;
    }

    &__block-buttons {
      order: 3;
      margin-top: 40px;
      grid-template-rows: repeat(2 auto);
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      justify-items: center;
    }

    &__btn-edit,
    &__btn-save {
      margin: 0;
    }
  }
  .Input {
    &--hidden-content {
      .Input {
        &__block-inp {
          margin-left: 0;
        }
      }
    }
  }

  .popup-change-password {
    // width: max-content;
    // margin: 0 auto;

    .Input {
      &--hidden-content {
        .Input {
          &__block-inp {
            width: 100%;
          }
        }
      }
    }

    .popup-beginner {
      &__wrapper {
      }
    }
  }
  .popup-non-standard-model--two .popup-non-standard-model__body-left-options {
    align-items: start;
  }
  .popup-non-standard-model--two .popup-non-standard-model__body-right {
    align-items: flex-start;
  }
}

@media (max-width: 650px) {
  //! GUI
  .Anchor-products {
    &__nav-item {
      &--active {
        .Anchor-products {
          &__link::before {
            content: "";
            transform: scale(1);
          }
        }
      }
    }
  }

  .Contacts {
    &__list {
      display: grid;
      grid-template-columns: repeat(1, 100%);
    }
  }

  .Card-simple {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .Card-product {
    &--close {
      @include adaptiv-value("width", 400, 140, 1);
      @include adaptiv-value("min-height", 400, 333, 1);
    }
  }
  .Card-buy {
    &__item-products {
      grid-template-columns: 1fr 2fr;
    }

    .item-Card-buy__amount-desc {
      flex-direction: column;
    }
  }
  .Product-description {
    &__content-palette-counter {
      flex-direction: column;
    }
    &__content-receipt-date-ordered {
      flex-direction: column;
    }
    &__counter {
      margin: 0;
      margin-top: 10px;
    }

    &__ordered {
      margin-top: 10px;
    }
  }

  //! Section

  .section-scorer {
    &__item {
      width: 47%;

      &:nth-child(n + 3) {
        margin-top: 30px;
      }

      &:nth-child(4) {
        order: 5;
        width: 100%;
      }
    }
  }

  .section-order-measurement {
    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__block-info {
      text-align: center;
    }

    &__block-input-form {
      margin-top: 30px;
    }

    &__form {
      align-items: center;
      margin: 0;
    }

    .Button {
      width: 100%;
    }

    .Input__inp {
      @include adaptiv-value("width", 800, 160, 1);

      height: 41px;
    }

    .Privacy-policy {
      // width: 100%;
      &__text {
        &--policy {
          width: 248px;
        }
      }
    }

    .input-validation {
      &__message-mod {
        width: 248px;
        text-align: end;
      }
    }
  }

  .section-video-reviews {
    &__icon {
      @include adaptiv-value("top", 160, 35, 1);
    }
  }
  .section-related-products {
    &__cards {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
  }

  //! Page

  .catalog-page {
    &__list {
      grid-template-columns: repeat(auto-fit, 100%);
    }

    &__item-title-text {
      @include adaptiv-value("font-size", 70, 20, 1);
    }
  }

  .partners-page {
    &__list {
      grid-template-columns: repeat(1, 100%);
    }
  }

  //! PoPup
  .popup-selection-master {
    height: 100%;
    padding: 23px 20px 32px 20px;
    &--one,
    &--two,
    &--three,
    &--four,
    &--five,
    &--six,
    &--seven,
    &--eight {
      .popup-selection-master__type-specification {
        max-height: 100%;
      }
    }
    &__type-specification {
      max-height: 100%;
      overflow-y: unset;
    }
    &__header {
      justify-content: center;
    }
    &__heading {
      .popup-selection-master__left-title {
        display: none;
      }
    }
    &__middle {
      border: none;
      padding: 0;
      &-heading {
        margin-top: 20px;
      }
    }
    &__right {
      padding: 0;
      margin-top: 40px;
    }
    &__body {
      flex-direction: column;
      margin-top: 20px;
      .popup-selection-master__middle {
        order: -1;
      }
    }
    &__footer {
      width: 100%;
      .popup-selection-master__btn {
        margin: 0 -20px;
        padding: 0 5px;
        margin-top: 50px;
        border-top: 1px solid $gray-border;
        padding-top: 18px;
      }
      .popup-selection-master__btn > .Button:not(:last-child) {
        margin-right: 10px;
      }
    }
    &__form-specification {
      margin-top: 20px;
    }
    &__subtitle {
      color: $lime;
    }
    &__item,
    &__amount,
    &__total {
      flex-direction: column;
    }
    &__item,
    &__amount,
    &__total {
      flex-direction: row;
    }
  }
  .popup-interior-door {
    &__list {
      max-height: 100%;
      overflow-y: unset;
    }
    &__header {
      width: 100%;
      .popup-interior-door__heading {
        margin: 0 -20px;
        padding: 0 5px;
        border-bottom: 1px solid $gray-border;
        padding-bottom: 18px;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
    &__footer {
      width: 100%;

      .popup-interior-door__btn {
        margin: 0 -20px;
        padding: 0 5px;
        margin-top: 50px;
        border-top: 1px solid $gray-border;
        padding-top: 18px;
        display: flex;
        justify-content: center;
      }
      .popup-interior-door__btn > .Button:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .popup-non-standard-model {
    &__body {
      flex-direction: column;
    }
    &__body-left {
      border-right: none;
    }
    &__body-right {
      align-items: flex-start;
      margin-top: 20px;
    }
    &__block-img {
    }
    &__select-height {
    }
    &__img {
      object-fit: fill;
    }
    &__palette {
      width: 100%;
    }
    &__footer {
      flex-direction: column;
    }
    &__footer-btn {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}

@media (max-width: 500px) {
  //! Gui

  .Card-simple {
    &__list {
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__item-title {
      padding: 24px 20px;
    }
  }

  .Card-buy {
    &__btns {
      margin-top: 20px;
    }
    &__settings {
      flex-direction: column;
    }
    .item-Card-buy__block-info {
      border-left: none;
    }

    .item-Card-buy__amount {
      border-top: none;
      padding: 0;
    }

    .item-Card-buy__amount-desc {
      display: flex;
      align-items: flex-start;
      border-top: 1px solid $gray-border;
      border-bottom: 1px solid $gray-border;
      padding: 16px 0;
      padding-right: 4px;
      width: 100%;

      :first-child {
        margin-top: 0;
      }
    }

    .item-Card-buy__amount-btn {
      margin: 0;
      padding: 14px;
      transition: $transition;

      .Button {
        width: 100%;
        transition: $transition;
      }
    }

    .Counter__dimension {
      display: none;
    }
  }
  .Counter {
    &__lacks {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
  .Product-description {
    &__counter {
      margin: 0;
      margin-top: 10px;
      .Counter {
        &__block-input {
          padding: 0 10px;
        }
      }
    }
    &__molding-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__molding-item-content-price-counter {
      margin-top: 12px;
    }
    &__form-specification {
      flex-direction: column;

      & > *:not(:first-child) > *:first-child {
        text-align: left;
      }
    }
    &__size-specification {
      margin: 0;
      margin-top: 25px;
      .Radio-btn {
        &__title {
        }
        &__content-label {
        }
      }
    }
    &__type-specification {
      .Radio-btn {
        &__title {
        }
        &__content-label {
        }
      }
    }
    &__palette-title {
    }
    &__content-palette-counter {
      & > *:not(:first-child) > *:first-child {
        text-align: left;
      }
    }
    .Palette {
      &__color-selection {
      }
    }
  }
  .Select {
    width: 160px;
    .Button {
      &__icon {
        display: none;
      }
    }
    .dropdown {
      &__button {
        padding: 11px 10px 12px 5px;
        &::after {
          right: 7px;
        }
      }
    }
  }

  //! Section

  .section-catalog {
    &__block-img-size {
      height: 180px;
    }

    .swiper__block-img-size {
      width: 24px;
      height: 24px;
    }
  }

  .section-benefits {
    .Max-width {
      padding: 0;
    }

    &__wrapper {
      padding: 0;
      background: none;
    }

    &__content {
      background: url("/img/benefits-bg.jpg") 0 0 no-repeat;
      background-position: center;
      background-size: cover;
    }

    &__inner {
      padding: 0 15px;
    }

    &__block-map {
      display: none;
    }

    &__item {
      flex-direction: column;
      margin-top: 24px;

      &--start {
        justify-content: flex-end;
      }
    }

    &__items {
      li:nth-child(2) {
        margin: 0 0 0 auto;
        margin-top: 20px;
      }
    }

    &__item-text {
      order: 1;
    }
  }

  .section-scorer {
    &__wrapper {
      &--border {
        &::before {
          width: 100%;
        }
      }
    }
  }
  .section-order-measurement {
    &__content {
      padding-top: 150px;
    }
  }

  .section-map {
    &__wrapper {
      .Title {
        display: none;
      }
    }
  }
  .section-directory {
    &__btn {
      margin-left: 5px;
    }
    &__Select {
      margin-left: 0;
      width: auto;
    }
    &__tabs {
      &:not(:last-child) > .Button {
        margin-right: 5px;
      }
    }
  }

  //! Page

  .compares-options {
    &__btns {
      flex-direction: column;
      .Button {
        width: 100%;
        &:not(:first-child) {
          margin-top: 5px;
        }
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
    &__wrapper {
      width: 100%;
    }
  }
  .partners-page {
    &__list-item {
      grid-template-rows: 200px 1fr;
    }
  }

  .video-reviews-page {
    &__content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
