// !COLORS
$white: #fff;
$black: #222631;
$black-default: #000;
$quartz: #343f5b;
$green: rgb(0, 128, 0);
$lime: #9aca3c;
$green-gradient: linear-gradient(180deg, #ccea00 0%, #77b24f 100%);
$red: #d84040;
$gray: #8f96b0;
$gray-border: #e3e6f3;
$gray-bg: #eeeff6;
$gray-dark: #1b1f2b;
$dimgray: #565c6f;
$blue: #597da3;
$purple: #9535b8;

$bg: #fff;

// !SIZE
$maxWidth: 1920;

// !FONTS
$font-family-Exo2: "Exo2", sans-serif;

// !BREACKPOINTS
$maxWidthContainer: 1300;
$md1: $maxWidthContainer + 40;
$md2: 991.98;
$md3: 767.98;
$md4: 600.98;

// !Transition
$transition: 0.3s all;


/* manager-account vars */

$manager-bg: #EEEFF6;
$grey-li-bt: #EEEFF7;
$grey-li-hover:#F9FAFF;
$black-mg:#222631;
$header-black: #343F5B;
$mg-orange: #FF9700;;
$mg-orange-light: #FFECD0;

$mg-green-light: #E5FFCB;
$mg-green:#9ACA3C;

$mg-blue-light: #D1EDFF;
$mg-blue: #109CF1;

/* gui */
$checkbox-off: #BDC0CF;
$transition-mg: 0.5s all ease;

