@import '_fonts';
@import '_settings';
@import '_vars';
@import '_mixins';

* {
  box-sizing: border-box;
  outline: none;
  ::selection {
    background: #acff05bb;
  }
}

a {
  color: $gray;

  &:hover {
    color: $lime;
  }
}

html,
body {
  width: 100%;
  font-family: $font-family-Exo2;
  font-weight: 400;
  font-size: 16px;
  color: $gray;
	overflow-x: hidden;
  // scroll-behavior: smooth;
}

// Затемнение для страницы
.blackout {
  position: fixed;
  z-index: 550;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: $transition;

  &--active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

// Для личного кабинета

// !Модификаторы для страниц
//TODO: Скрытие объектов
.Visually-hidden,
.Vh {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.Visibility,
.Vb,
.V {
  &--hidden {
    opacity: 0;
    visibility: hidden;
    display: none !important;
  }
  &--visible {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

//TODO: Шрифт
.Font,
.F {
  //! Color
  &--color-inherit {
    color: currentColor;
  }
  //! Theme
  &--xs {
    font-size: inherit;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: normal;
  }
  //! Position
  &--center {
    text-align: center;
  }
  &--left {
    text-align-last: left;
  }
  &--right {
    text-align: right;
  }
}
//TODO: Адаптивное изображение
.Background-image,
.Bgi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
//TODO: Позиционирование
.Flex,
.Fx {
  display: flex;
  &-row {
    align-items: center;
    &--center {
      justify-content: center;
    }
    &--space-between {
      justify-content: space-between;
    }
    &--flex-end {
      justify-content: flex-end;
    }
  }
  &-column {
    justify-content: center;
    &--center {
      align-items: center;
    }
    &--space-between {
      align-items: space-between;
    }
    &--flex-end {
      align-items: flex-end;
    }
  }
}

.Position,
.Pos,
.Pn {
  position: absolute;
  &--centerXY {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &--centerX {
    left: 50%;
    transform: translate(-50%);
  }
  &--centerY {
    top: 50%;
    transform: translate(-50%);
  }
}

// ! Позиционирование страниц

.body-scroll-hidden {
  overflow-y: hidden;
}

.Container {
  margin: 0 auto;
}

.container {
  position: relative;
}

.Max-width {
  min-width: 320px;
  max-width: $maxWidthContainer + px;

  @media screen and (max-width: $md1 + px) {
    padding: 0 20px;
  }

  @media screen and (max-width: $md2 + px) {
    padding: 0 15px;
  }
}






// !Fancybox
.fancybox-close-small {
  width: 52px;
  height: 52px;
}
