.popup-video-reviews {
  padding: 10px;
  background: none;
  -webkit-filter: drop-shadow(0 0 70px #696767);
          filter: drop-shadow(0 0 70px #696767);
}

.popup-video-reviews__svg {
  position: absolute;
  z-index: 55;
}

.popup-video-reviews__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  outline: none;
}
/*# sourceMappingURL=popup-video-reviews.css.map */