.mg-add-categories {
    &__container {
        max-width: 81.968%;
        margin: 0 auto;
        padding-top: 20px;
    }
    // max-width:753px;
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70px, 112px));
        grid-gap: 16px;
        justify-content: center;
    }
    &__item {
        position: relative;
        height: 130px;
        width: 113px;
        display: block;
        box-shadow: 0px 2px 8px rgba(143, 150, 176, 0.2);
        border-radius: 6px;
        padding: 4px;
        transition: all 0.4s ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: $lime;
            transform: scale(1.1);
            //box-shadow: 0px 2px 8px rgba(143, 150, 176, 0.8);
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            .mg-add-categories__close {
                .Button__icon-svg {
                    fill: $white;
                }
            }
            .mg-add-categories__inner {
                .Button__icon-svg {
                    fill: $white;
                }
                .text {
                    color: $white;
                }
            }
        }
    }
    &__close {
        .Button__icon {
            position: absolute;
            display: flex;
            width: 18px;
            height: 18px;
            top: 4px;
            right: 4px;
            transform: rotate(45deg);
            padding: 2px;
            fill: $gray;
        }
    }
    &__inner {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .photo {
            height: 56%;
            align-items: end;
            display: flex;
            .Button__icon {
                width: 52px;
                height: 52px;
                display: flex;
                & svg {
                    fill: $lime;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .text {
            height: 44%;
            display: flex;
            text-align: center;
            align-items: center;
        }
    }
    &__add {
        padding-top: 20px;
        .Button {
            width: 135px;
            min-height: 42px;
            &__text {
                display: flex;
                align-items: center;
            }
            &__icon-svg {
                padding: 3px;
            }
        }
    }
}

.category--container {
    &--s {}
}