.footer {
  background: $black;

  &__wrapper {
    @include adaptiv-value("padding-top", 70, 40, 1);
    @include adaptiv-value("padding-bottom", 70, 40, 1);

    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__content-informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__feedback {
    @include adaptiv-value("margin-top", 60, 40, 1);
  }

  &__shedule {
    @include adaptiv-value("margin-top", 30, 40, 1);
  }

  &__content-navs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 -18px;
  }

  &__block-nav {
    @include adaptiv-value("width", 171, 70, 1);

    margin: 0 18px;
  }

  &__title-nav {
    text-transform: uppercase;
  }

  &__nav {
    margin-top: 20px;
  }

  &__nav-item {
    @include adaptiv-value("margin-top", 10, 20, 1);

    &:first-child {
      margin-top: 0;
    }
  }

  &__content-social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__inner-social-networks {
    @include adaptiv-value("margin-top", 25, 10, 1);
  }

  &__block-social-network {
    margin-top: 10px;

    &:first-child {
      margin: 0;
    }
  }

  &__copyright {
    background: $gray-dark;
  }

  &__wrapper-copyright {
    @include adaptiv-value("padding-bottom", 26, 45, 1);

    display: flex;
    justify-content: space-between;
    padding: 16px 0 26px;
  }

  &__block-copyright-title {
    width: 272px;
    color: $dimgray;
  }

  &__block-copyright-title-text {
    font-size: 12px;
    line-height: 14px;
  }

  &__list-copyright-informations {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .Button {
    position: absolute;
    right: 0;
    top: -20px;
  }
}
