<div class="Container Max-width">
	<div class="section-benefits__wrapper">
		<div class="Title ">
			<div class="Title__wrapper--theme-m Title__wrapper--quartz">
				<h2>TANDOOR — лидер по поставке дверей на Юге России</h2>
			</div>
		</div>
		<div class="section-benefits__content">
			<div class="section-benefits__inner">
				<div class="section-benefits__block">
					<ul class="section-benefits__items">
						<li class="section-benefits__item">
							<h4 class="section-benefits__item-text">11 лет успешной работы</h4>
							<svg class="section-benefits__icon-svg">
								<use class="section-benefits__icon-svg-use" xlink:href="#hourglass"></use>
							</svg>
						</li>
						<li class="section-benefits__item">
							<h4 class="section-benefits__item-text">Собственное производство</h4>
							<svg class="section-benefits__icon-svg">
								<use class="section-benefits__icon-svg-use" xlink:href="#test-tube"></use>
							</svg>
						</li>
						<li class="section-benefits__item">
							<h4 class="section-benefits__item-text">Широкий ассортимент</h4>
							<svg class="section-benefits__icon-svg">
								<use class="section-benefits__icon-svg-use" xlink:href="#pad"></use>
							</svg>
						</li>
					</ul>
				</div>
				<div class="section-benefits__block-map">
					<a class="Button Button--green-gradient Button--theme-xs Button--theme-xs-n section-benefits__button"
						href="#">
						<span class="Button__text">К карте</span>
					</a>
				</div>
				<div class="section-benefits__block">
					<ul class="section-benefits__items section-benefits__items--left">
						<li class="section-benefits__item section-benefits__item--start">
							<h4 class="section-benefits__item-text">Нас рекомендуют клиенты</h4>
							<svg class="section-benefits__icon-svg section-benefits__icon-svg--right">
								<use class="section-benefits__icon-svg-use" xlink:href="#clients"></use>
							</svg>
						</li>
						<li class="section-benefits__item section-benefits__item--start">
							<h4 class="section-benefits__item-text">Индивидуальный подход</h4>
							<svg class="section-benefits__icon-svg section-benefits__icon-svg--right">
								<use class="section-benefits__icon-svg-use" xlink:href="#brain"></use>
							</svg>
						</li>
						<li class="section-benefits__item section-benefits__item--start">
							<h4 class="section-benefits__item-text">Гарантия качества</h4>
							<svg class="section-benefits__icon-svg section-benefits__icon-svg--right">
								<use class="section-benefits__icon-svg-use" xlink:href="#cup"></use>
							</svg>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>