.mg-table{
        &--theme{
            &--grid{
                display:flex;
                min-height: 40px;
                border-bottom: 1px solid #E3E6F3;
                align-items: center;
                /* word-break */
                word-break: break-word;
            }
        }
        &__header{
            color: $gray;
            background-color: hsl(230, 100%, 99%);
        }
        &__body{    
        }
        &__headlines{
            // padding-left: 20px;
            @include adaptiv-value(padding-left, 20, 5, 1);
            display: flex;
            height:100%;
            position: relative;
            align-items: center;
            &:not(:last-child):after{
                    display: block;
                    content:'';
                    height: rem(26);
                    width: 1px;
                    background-color: #E3E6F3;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
            }     
            &:nth-child(1){
                max-width: 110px;
                width: 100%;
            }
            &:nth-child(2){
                max-width: 160px;
                width: 100%;
            }
            &:nth-child(3){
                max-width: 160px;
                 width: 100%;
            }
            &:nth-child(4){
                max-width: 110px;
                 width: 100%;
            }
            &:nth-child(5){
                max-width: 43px;
                padding:0 9px;
                 width: 100%;
            }
            &:nth-child(6){
                max-width: 202px;
                 width: 100%;
            }
            &:nth-child(7){
                max-width: 140px;
                 width: 100%;
            }
            &:nth-child(8){
                max-width: 178px;
                 width: 100%;
            }
            &:nth-child(9){
                max-width: 178px;
                 width: 100%;
            }
        }
        &__subtitle{
            display: flex;
            @include adaptiv-value(padding-left, 20, 5, 1);
            &:nth-child(1){
                max-width: 110px;
                width: 100%;
            }
            &:nth-child(2){
                max-width: 160px;
                width: 100%;
            }
            &:nth-child(3){
                max-width: 160px;
                 width: 100%;
            }
            &:nth-child(4){
                max-width: 110px;
                 width: 100%;
            }
            &:nth-child(5){
                max-width: 43px;
                 padding:0 9px;
                 text-align: center;
                 width: 100%;
            }
            &:nth-child(6){
                max-width: 202px;
                 width: 100%;
            }
            &:nth-child(7){
                max-width: 140px;
                 width: 100%;
            }
            &:nth-child(8){
                max-width: 178px;
                 width: 100%;
            }
            &:nth-child(9){
                max-width: 178px;
                 width: 100%;
            }
        }


        &__icon{
            
        }
}

/* nested tables */
.mg-no-standard-order{
    .mg-table__headlines, .mg-table__subtitle{
        &:nth-child(1){
            max-width: 110px;
        }
        &:nth-child(2){
            max-width: 220px;
        }
        &:nth-child(3){
            max-width: 250px;
        }
        &:nth-child(4){
            max-width: 100%;
        }
    }
}
   
