	<div class="section-directory">
		<div class="section-directory__wrapper">
			<div class="section-directory__header Tabs">
				<div class="section-directory__header-content">
					<div class="section-directory__header-box-tabs-btns">
						<div class="section-directory__tabs">

							<button 
								class="Button section-directory__tab Button--lime-light Button--lime-light-active  Button--theme-s Button--theme-s-n Tabs__item-grid Tabs__item-grid--active"
								data-identification-tab="1" data-index-tab="1">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#three-tiles"></use>
									</svg>
								</span>
							</button>

							<button 
								class="Button section-directory__tab Button--lime-light Button--lime-light-active  Button--theme-s Button--theme-s-n Tabs__item-grid Tabs__item-grid"
								data-identification-tab="1" data-index-tab="2">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#two-tiles"></use>
									</svg>
								</span>
							</button>

							<button 
								class="Button section-directory__tab Button--lime-light Button--lime-light-active  Button--theme-s Button--theme-s-n Tabs__item-grid Tabs__item-grid"
								data-identification-tab="1" data-index-tab="3">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#two-vert-tiles"></use>
									</svg>
								</span>
							</button>

							<button 
								class="Button section-directory__tab Button--lime-light Button--lime-light-active  Button--theme-s Button--theme-s-n Tabs__item-grid Tabs__item-grid"
								data-identification-tab="1" data-index-tab="4">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#one-tiles"></use>
									</svg>
								</span>
							</button>

						</div>

						<div class="section-directory__btns">
							<div class="section-directory__btn">
								<button class="Button Button--lime-light  Button--theme-s Button--theme-s-n">
									<span class="Button__icon">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#download"></use>
										</svg>
									</span>
								</button>
							</div>
							<div class="section-directory__btn">
								<button class="Button Button--lime-light Button--theme-s Button--theme-s-n btn-specifications-js ">
									<span class="Button__icon">
										<svg class="Button__icon-svg">
											<use class="Button__icon-svg-use" xlink:href="#specifications"></use>
										</svg>
									</span>
								</button>
							</div>
						</div>
					</div>
					<div class="section-directory__header-box-checkbox-selector-btn">
						<div class="section-directory__Checkbox">
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Хит</span>
									</span>
								</label>
							</div>
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Эксклюзив</span>
									</span>
								</label>
							</div>
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input">
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Новинки</span>
									</span>
								</label>
							</div>
							<div class="Checkbox Checkbox--default">
								<label class="Checkbox__label">
									<input type="checkbox" class="Checkbox__input" checked>
									<span class="Checkbox__inner-text">
										<span class="Checkbox__text">Акции</span>
									</span>
								</label>
							</div>
						</div>
						<div class="section-directory__Select">

							<div class="Select">

								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#select"></use>
									</svg>
								</span>

								<div class="dropdown">
									<button class="dropdown__button">Увеличению цены</button>
									<ul class="dropdown__list">
										<li class="dropdown__list-item" data-value="up-price">Увеличению цены</li>
										<li class="dropdown__list-item" data-value="down-price">Уменьшению цены</li>
										<li class="dropdown__list-item" data-value="
											alphabet">Алфавиту от А до Я</li>
										<li class="dropdown__list-item" data-value="
											alphabet-revert">Алфавиту от Я до А</li>
									</ul>
									<input type="text" name="select-category" value="" class="dropdown__input-hidden">
								</div>
							</div>
						</div>
						<div class="section-directory__btn">
							<a class="Button Button--gray-bg-light Button--theme-s Button--theme-s-n" data-filter href="#">
								<span class="Button__icon">
									<svg class="Button__icon-svg">
										<use class="Button__icon-svg-use" xlink:href="#filter"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-container section-directory__swiper-container">
					<div class="swiper-wrapper section-directory__wrapper-slide">

						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Все двери</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Ламинированные двери</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Грунтовые двери</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Современные покрытия</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Эмалевые двери</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Стеклянные двери</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Доп ссылка 1</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Доп ссылка 2</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Все двери</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Ламинированные двери</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Грунтовые двери</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Современные покрытия</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Эмалевые двери</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Стеклянные двери</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Доп ссылка 1</a>
						</div>
						<div class="swiper-slide section-directory__slide">
							<a class="section-directory__link Link Link--gray-lime-decor" href="#">Доп ссылка 2</a>
						</div>

					</div>


					<div class="Swiper-button-next-video-reviews Swiper-button-default">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#arrow-right"></use>
						</svg>



					</div>

					<div class="Swiper-button-prev-video-reviews Swiper-button-default">

						<svg class="Swiper-button-default__svg">
							<use class="Swiper-button-default__use" xlink:href="#arrow-left"></use>
						</svg>

					</div>

				</div>

				<div class="section-directory__body">

					<div class="Tabs__block-grid Tabs__block-grid-three Tabs__block-grid--active" data-identification-tab="1"
						data-index-tab="1">

						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						

					</div>
					<div class="Tabs__block-grid Tabs__block-grid-one-aflat Tabs__block-grid--not-active"
						data-identification-tab="1" data-index-tab="2">
						@include('../../blocks/Card-product-aflat/Card-product-aflat.html')
						@include('../../blocks/Card-product-aflat/Card-product-aflat.html')
						@include('../../blocks/Card-product-aflat/Card-product-aflat.html')
						@include('../../blocks/Card-product-aflat/Card-product-aflat.html')

					</div>
					<div class="Tabs__block-grid Tabs__block-grid-two Tabs__block-grid--not-active" data-identification-tab="1"
						data-index-tab="3">
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')

					</div>
					<div class="Tabs__block-grid Tabs__block-grid-one Tabs__block-grid--not-active" data-identification-tab="1"
						data-index-tab="4">
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
						@include('../../blocks/Card-product/Card-product.html')
					</div>

				</div>

			</div>
		</div>